@model Projekt.ViewModels.AddCustomerRelationViewModel

<head>
    <link rel="stylesheet" href="~/css/Transaction/AddTransaction.css">
</head>
<br>
<br>
<div class="d-flex justify-content-center align-items-center p-2">
  <div class="card">
      <form asp-controller="Assigned" asp-action="AddCustomerRelation" method="post">
          <div class="card-body">
            <h3 class="card-title">Zuweisungen verwalten</h3>
            <br>
            <!-- Datalist 1 -- Kunde -->
            <label for="CustomerDataList" class="form-label">Kunde</label>
                <input class="form-control" type="text" name="customer"list="CustomerdatalistOptions" id="CustomerDataList" placeholder="Wähle einen Kunden">
                <datalist id="CustomerdatalistOptions"/>
                    @foreach (Customer customer in Model.customerList)
                    {
                        <option value= "@customer.Id @customer.Firstname @customer.Lastname"/>
                    }
                </datalist>
            <!-- Datalist 2 -- Steuerberater -->
            <label for="ConsultantDataList" class="form-label">Steuerberater</label>
                <input class="form-control" type="text" name="consultant" list="ConsultantdatalistOptions" id="ConsultantDataList" placeholder="Wähle einen Steuerberater">
                <datalist id="ConsultantdatalistOptions"/>
                    @foreach (Consultant consultant in Model.consultantList)
                    {
                        <option value= "@consultant.Id @consultant.Firstname @consultant.Lastname"/>
                    }
                </datalist>
            <!-- Buttons -->
            <div class="mb-2 row">
                <div class="col">
                <button type="submit" class="mt-3 btn btn-primary" name="buttonInfo" value="Create" id="hinzufuegen">Hinzufügen</button>
                </div>
                <div class="col">
                <button type="submit" class="mt-3 btn btn-primary" name="buttonInfo" value="Delete" id="loeschen">Entfernen</button>
                </div>
            </div>
          </div>
      </form>
     </div>
</div>