@model Projekt.Models.ConsultantToCustomer
@{
    ViewData["Title"] = "Create";
}
<!--Übersicht über die zu löschende Zuweisung. Wird ausschließlich vom Admin genutzt. -->
<!--CodeOwner: Alexander Rioux -->
<h1>Create</h1>
<h4>Assigned</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <!--Form zur Erstellung der Zuweisung -->
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdConsultant" class="control-label"></label>
                <input asp-for="IdConsultant" class="form-control" />
                <span asp-validation-for="IdConsultant" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdCustomer" class="control-label"></label>
                <input asp-for="IdCustomer" class="form-control" />
                <span asp-validation-for="IdCustomer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InsightStatusSimple" class="control-label"></label>
                <input asp-for="InsightStatusSimple" class="form-control" />
                <span asp-validation-for="InsightStatusSimple" class="text-danger"></span>
                Hinweis: es können nur folgende Werte eingegeben werden:
                Insight für Einsicht
                ApplicationInsight für angefragte Einsicht
                None für keine Einsicht
            </div>
            <div class="form-group">
                <label asp-for="InsightStatusExtended" class="control-label"></label>
                <input asp-for="InsightStatusExtended" class="form-control" />
                <span asp-validation-for="InsightStatusExtended" class="text-danger"></span>
                Hinweis: es können nur folgende Werte eingegeben werden:
                Insight für Einsicht
                ApplicationInsight für angefragte Einsicht
                None für keine Einsicht
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <!--Weiterleitung zur Index View-->
    <a asp-action="Index">Back to List</a>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
