@model Projekt.Models.ConsultantToCustomer

@{
    ViewData["Title"] = "Delete";
}
<!--Übersicht über die zu löschende Zuweisung. Wird ausschließlich vom Admin genutzt. -->
<!--CodeOwner: Alexander Rioux -->
<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Assigned</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdConsultant)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdConsultant)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdCustomer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdCustomer)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InsightStatusSimple)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InsightStatusSimple)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InsightStatusExtended)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InsightStatusExtended)
        </dd>
    </dl>
    <!--Form zur Löschung der Zuweisung -->
    <form asp-action="Delete" asp-route-consultantId="@Model?.IdConsultant" asp-route-customerId="@Model?.IdCustomer">
        <input type="submit" value="Delete" class="btn btn-danger" />
    </form>
    <!--Weiterleitung zur Index View-->
    <a asp-action="Index">Back to List</a>
</div>
