@model Projekt.Models.ConsultantToCustomer

@{
    ViewData["Title"] = "Create";
}

<h1>Edit</h1>

<h4>Assigned</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" asp-route-id1="@Model?.IdConsultant" asp-route-id2="@Model?.IdCustomer">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdConsultant" />
            <input type="hidden" asp-for="IdCustomer"/>
            <div class="form-group">
                <label asp-for="InsightStatusSimple" class="control-label"></label>
                <input asp-for="InsightStatusSimple" class="form-control" />
                <span asp-validation-for="InsightStatusSimple" class="text-danger"></span>
                 <p>Hinweis: es können nur folgende Werte eingegeben werden:</p>
                <p>Insight für Einsicht</p>
                <p>ApplicationInsight für angefragte Einsicht</p>
                <p>None für keine Einsicht</p>
                <p></p>
            </div>
            <div class="form-group">
                <label asp-for="InsightStatusExtended" class="control-label"></label>
                <input asp-for="InsightStatusExtended" class="form-control" />
                <span asp-validation-for="InsightStatusExtended" class="text-danger"></span>
                 <p>Hinweis: es können nur folgende Werte eingegeben werden:</p>
                <p>Insight für Einsicht</p>
                <p>ApplicationInsight für angefragte Einsicht</p>
                <p>None für keine Einsicht</p>
                <p></p>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
