@model Projekt.ViewModels.AllAssignedViewModel
@{
    ViewData["Title"] = "Assigned und Anfragen Übersicht";
}
<!--Übersicht über alle Zuweisungen mit dem Einsichtsgrad. Wird ausschließlich vom Admin genutzt. -->
<!--CodeOwner: Alexander Rioux -->
<h1>ALLASSIGNED</h1>
<h1>ALLASSIGNED-Einsicht</h1>
<p>
    <!--Weiterleitung zur Create View-->
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                ID-Steuerberater
            </th>
            <th>
                ID-Kunde
            </th>
            <th>
                Status Einsicht
            </th>
            <th>
                Status Erweiterte Einsicht
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ConsultantToCustomers)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdConsultant)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdCustomer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InsightStatusSimple)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InsightStatusExtended)
                </td>
                <td>
                    <!--Weiterleitung zur Edit View-->
                    <a asp-action="Edit" asp-route-consultantId="@item.IdConsultant"
                        asp-route-customerId="@item.IdCustomer">Edit</a> |
                    <!--Weiterleitung zur Delete View-->
                    <a asp-action="Delete" asp-route-consultantId="@item.IdConsultant"
                        asp-route-customerId="@item.IdCustomer">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>