@{
    ViewData["Title"] = "Overview";
}

<h1>Aktuelle Lehrplanübersicht</h1>

<div class="row">
    @for(int i = 0; i < @Model.lessons.Count; i++)
        {
        var lesson = @Model.lessons[i];
        <div class="col-sm border rounded p-3 m-3">  
            <h3>@lesson.Id @lesson.Title</h3>
            <div class ="pt-3">
                <a href=@lesson.CardDeckLink>Externer Karten-Link</a>
                <p>Geschätzte Kartendauer: 
                <span class="a">@lesson.TimeEstimation Tage</span>
                </p>
            </div>
        </div>    
        }   
</div>
