<!-- View zum erstellen einer Transaktion für den jeweiligen User
Codeowner: Thomas Gerum -->

@model Projekt.ViewModels.TransactionViewModel
@using Projekt.Utilities
@{
    ViewData["Title"] = "Create";
}

<head>
    <link rel="stylesheet" href="~/css/Transaction/AddTransaction.css">
    <script src="~/js/Transaction/autocomplete.js"></script>
    <script src="~/js/Transaction/TransactionInPast.js"></script>
</head>


<body>
    <main>
        <div class="container">
            <h1 class="mt-5 mb-5 container_heading">Transaktion hinzufügen</h1>
            <div class="card mb-4 mb-xl-0">
                <div class="card-body text-center">
                    <form asp-action="Create" autocomplete="off">
                        <div class="row">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <!-- Typ -->
                            <div class="col-md">
                                <label asp-for="@Model.Type" class="form-label"></label>
                                <select asp-for="@Model.Type" asp-items="Html.GetEnumSelectList<TransactionType>()" class="form-select"></select>
                            </div>
                            <!-- KaufDatum -->
                            <div class="col-md">
                                <label asp-for="PurchaseDate" class="form-label"></label>
                                <input asp-for="PurchaseDate" class="form-control" type="date" onblur="LastCalendarYearCreate(this)" id="Dateauto" value='@DateTime.Today.ToString("yyyy-MM-dd")'/>
                                <span asp-validation-for="PurchaseDate" class="text-danger"></span>
                            </div>
                            <!-- Currency -->
                            <div class="col-md">
                                <label asp-for="Coin" class="form-label"></label>
                                @if(@Model.isBackup){
                                <a style="color:red;">
                                    ACHTUNG: Alte Daten
                                </a>
                                    }
                                <div class="autocomplete">
                                    <input class="form-control" type="text" id="Coinauto" asp-for="Coin" onblur="autofillRate()" placeholder="Kryptowährung eingeben" />
                                </div>
                                <span asp-validation-for="Coin" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row" id="lowerinput">
                            <!-- Fee -->
                            <div class="col-md-2">
                                <label asp-for="Fee" class="form-label"></label>
                                <div class="input-group mb-3" id="inputgroup">
                                    <input asp-for="Fee" class="form-control" id="fee" onblur="myNumberDecimal(this)" />
                                    <div class="input-group-append">
                                        <span class="input-group-text">€</span>
                                    </div>
                                </div>
                                <span asp-validation-for="Fee" class="text-danger"></span>
                            </div>
                            <!-- Amount -->
                            <div class="col-md-2">
                                <label asp-for="Amount" class="form-label"></label>
                                <input asp-for="Amount" id="Amountauto" class="form-control" />
                                <span asp-validation-for="Amount" class="text-danger"></span>
                            </div>
                            <!-- Kurs -->
                            <div class="col-md">
                                <label asp-for="Rate" class="form-label"></label>
                                <div class="input-group mb-3">
                                    <input asp-for="Rate" id="Rateauto" class="form-control" placeholder="0,00" />
                                    <div class="input-group-append">
                                        <span class="input-group-text">€/Coin</span>
                                    </div>
                                    <div class="input-group-append">
                                        <!--onclick="calcValue(document.getElementById('Rateauto'), document.getElementById('Amountauto'), document.getElementById('Valueauto'))" -->
                                        <button class="btn btn-outline-secondary" onclick="autofillRate()" type="button">Autofill</button>
                                    </div>
                                </div>
                                <span asp-validation-for="Rate" class="text-danger"></span>

                            </div>
                            <!-- Value -->
                            <div class="col-md">
                                <label asp-for="Value" class="form-label"></label>
                                <div class="input-group mb-3">
                                    <input asp-for="Value" class="form-control" id="Valueauto" onblur="myNumberDecimal(this)" placeholder="0,00" />
                                    <div class="input-group-append">
                                        <span class="input-group-text">€</span>
                                    </div>
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary" onclick="calcValue(document.getElementById('Rateauto'), document.getElementById('Amountauto'), document.getElementById('Valueauto'))" type="button">Autofill</button>
                                    </div>
                                </div>
                                <span asp-validation-for="Value" class="text-danger"></span>
                            </div>
                        </div>
                        <!-- Submit -->
                        <div class="col-md-1" id="lowerinput">
                            <input type="submit" value="Hinzufügen" class="btn btn-primary" />
                        </div>
                        @if(@Model.isValid != true){
                        <a style="color:red;">
                            Sie Verkaufen Coins bevor sie gekauft wurden
                        </a>
                            }
                    </form>
                </div>
            </div>
            <h1 class="mt-5 mb-4 container_heading">Transaktionen über JSON-Datei importieren</h1>
            <div class="card mb-4 mb-xl-0">
                <div class="card-body text-center">
                    <form method="post" enctype="multipart/form-data" action="/Transaction/ImportFile">
                        <div>
                            <label for="formFile" class="form-label">Wähle eine JSON-Datei aus</label>
                            <input class="form-control" type="file" id="formFile" name="file" accept=".json" />
                        </div>
                        <br />
                        <div class="col-md-1">
                            <button type="submit" class="btn btn-primary">Hinzufügen</button>
                        </div>
                    </form>
                </div>
            </div>
</main>
</body>

                <div class="modal" tabindex="-1" id="LastYearPopup">
                    <div class="modal-dialog">
                        <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">ACHTUNG</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p>Diese Transaktion liegt im letzten Kalenderjahr. Erstellung wirkt sich auf Ergebnisse aus, die eventuell bereits Teil einer früheren Steuererklärung waren!</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("TransactionsOfCurrentUser", "Transaction")'">Zurück</button>
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Okay</button>
                        </div>
                        </div>
                    </div>
                </div>

<script>
    //Coinlists aus dem Backend übernehmen zum dynamischen befüllen
    var arr = JSON.parse('@Html.Raw(Json.Serialize(@Model.Coinlist))')
    var dict = JSON.parse('@Html.Raw(Json.Serialize(@Model.Coindict))')

    //AUtomatisches Befüllen des COin werts zum aktuellen Zeitpunkt
    autocomplete(document.getElementById("Coinauto"), arr);
    async function autofillRate() {
        await sleep(300);
        var input1 = document.getElementById('Coinauto');
        var input2 = document.getElementById('Rateauto');
        var date = document.getElementById('Dateauto');
        var year = date.value.substr(0, 4);
        var month = date.value.substr(5, 2);
        var day = date.value.substr(8, 2);
        var id = dict[input1.value];
        var price;
        let request = new XMLHttpRequest();
        request.open("GET", `https://api.coingecko.com/api/v3/coins/${id}/history?date=${day}-${month}-${year}&localization=false`);
        request.send();
        request.onload = () => {
            if(request.status === 200){
                price = JSON.parse(request.response);
                console.log(price);
                console.log(`${id}`);
                var repl = price["market_data"]["current_price"]["eur"];
                console.log(repl)
                input2.value = repl.toLocaleString("de-DE", {
                    minimumFractionDigits: 2,
                    maximumFractionDigits: 12
                }).replace('.', '');
            } else {
                console.log (`error ${request.status}`);
            }
        }
    }
</script>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}



