<!-- View zum Löschen einer Transaktion für den jeweiligen User
Codeowner: Thomas Gerum -->

@model Projekt.ViewModels.TransactionViewModel

@{
    ViewData["Title"] = "Delete";
    string data = Model.JavaScriptDate;
}

<!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="~/js/Transaction/TransactionInPast.js"></script>
    <link rel="stylesheet" href="~/css/Transaction/AddTransaction.css">

<h1>Löschen</h1>


<body onload="dummy()">

</body>

<div class="col-md-6">
<div class="card mb-4 mb-xl-0">
    <div class="card-header">Wollen Sie diese Transaktion Löschen?</div>
    <!--<div class="card-header">Transaktion hinzufügen</div>-->
    <div class="card-body">
        <h4>Transaction</h4>
        <dl class="row">
            <dt class = "col-sm-6">
                @Html.DisplayNameFor(model => model.Transaction.Type)
            </dt>
            <dd class = "col-sm-6">
                @Html.DisplayFor(model => model.Transaction.Type)
            </dd>
            <dt class = "col-sm-6">
                @Html.DisplayNameFor(model => model.Transaction.Rate)
            </dt>
            <dd class = "col-sm-6">
                @Html.DisplayFor(model => model.Transaction.Rate)€
            </dd>
            <dt class = "col-sm-6">
                @Html.DisplayNameFor(model => model.Transaction.Fee)
            </dt>
            <dd class = "col-sm-6">
                @Html.DisplayFor(model => model.Transaction.Fee)€
            </dd>
            <dt class = "col-sm-6">
                @Html.DisplayNameFor(model => model.Transaction.Amount)
            </dt>
            <dd class = "col-sm-6">
                @Html.DisplayFor(model => model.Transaction.Amount)
            </dd>
            <dt class = "col-sm-6">
                @Html.DisplayNameFor(model => model.Transaction.Value)
            </dt>
            <dd class = "col-sm-6">
                @Html.DisplayFor(model => model.Transaction.Value)€
            </dd>
            <dt class = "col-sm-6">
                @Html.DisplayNameFor(model => model.Transaction.OwnerId)
            </dt>
            <dd class = "col-sm-6">
                @Model._Customer.Firstname @Model._Customer.Lastname
            </dd>
            <dt class = "col-sm-6">
                @Html.DisplayNameFor(model => model.Transaction.PurchaseDate)
            </dt>
            <dd class = "col-sm-6">
                @Html.DisplayFor(model => model.Transaction.PurchaseDate)
            </dd>
        </dl>

        @if(@Model.isValid == false){
            <a style="color:red;">
                ACHTUNG!!: Wenn sie diese Transaktion löschen, tritt eine Inkosistenz der Datenbank auf, da sie mehr Coins verkaufen als Sie gekauft haben!
            </a>

        }

            <form asp-action="Delete">
                <input type="hidden" asp-for="Id" />
                <input type="submit" value="Löschen" class="btn btn-danger"/> |
                <a asp-action="TransactionsofCurrentUser">Zurück zur Übersicht</a>
            </form>
    
    
        <!--Popup falls die Transaktion im letzten Kalenderjahr liegt -->
        <div class="modal" tabindex="-1" id="LastYearPopup">
            <div class="modal-dialog">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">ACHTUNG</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Diese Transaktion liegt im letzten Kalenderjahr. Dies wirkt sich auf Ergebnisse aus, die eventuell bereits Teil einer früheren Steuererklärung waren!</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("TransactionsOfCurrentUser", "Transaction")'">Zurück</button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Okay</button>
                </div>
                </div>
            </div>
        </div>

    </div>
    <script>
        function dummy() {
            LastCalendarYear("@data")
        }
    </script>
</div>
</div>

