<!-- View zum FINALEN Löschen einer Transaktion !!DURCH DEN ADMIN!!
Codeowner: Thomas Gerum -->

@model Projekt.ViewModels.TransactionViewModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Transaction</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Transaction.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Transaction.Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Transaction.Rate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Transaction.Rate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Transaction.Amount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Transaction.Amount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Transaction.Value)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Transaction.Value)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Transaction.Remainder)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Transaction.Remainder)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Transaction.OwnerId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Transaction.OwnerId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Transaction.PurchaseDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Transaction.PurchaseDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Transaction.Tradeable)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Transaction.Tradeable)
        </dd>
    </dl>
    
    <form asp-action="DeleteAdmin">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="DeleteAdmin" class="btn btn-danger" /> |
        <a asp-controller="Transaction" asp-action="index">Back to List</a>
    </form>
</div>
