<!-- Detailview für eine bestimmte Transaktion
Codeowner: Thomas Gerum -->

@model Projekt.ViewModels.TransactionViewModel

@{
    ViewData["Title"] = "Details";
}

<head>
    <link rel="stylesheet" href="~/css/Transaction/AddTransaction.css">
</head>

<h1>Details</h1>

<div class="col-md-6">
    <div class="card mb-4 mb-xl-0">
        <!--<div class="card-header">Transaktion hinzufügen</div>-->
        <div class="card-body">
            <h4>Transaktion</h4>
            <dl class="row">
                <dt class = "col-sm-6">
                    @Html.DisplayNameFor(model => model.Transaction.Type)
                </dt>
                <dd class = "col-sm-6">
                    @Html.DisplayFor(model => model.Transaction.Type)
                </dd>
                <dt class = "col-sm-6">
                    @Html.DisplayNameFor(model => model.Transaction.Rate)
                </dt>
                <dd class = "col-sm-6">
                    @Html.DisplayFor(model => model.Transaction.Rate)€
                </dd>
                <dt class = "col-sm-6">
                    @Html.DisplayNameFor(model => model.Transaction.Fee)
                </dt>
                <dd class = "col-sm-6">
                    @Html.DisplayFor(model => model.Transaction.Fee)€
                </dd>
                <dt class = "col-sm-6">
                    @Html.DisplayNameFor(model => model.Transaction.Amount)
                </dt>
                <dd class = "col-sm-6">
                    @Html.DisplayFor(model => model.Transaction.Amount)
                </dd>
                <dt class = "col-sm-6">
                    @Html.DisplayNameFor(model => model.Transaction.Value)
                </dt>
                <dd class = "col-sm-6">
                    @Html.DisplayFor(model => model.Transaction.Value)€
                </dd>
                <dt class = "col-sm-6">
                    @Html.DisplayNameFor(model => model.Transaction.OwnerId)
                </dt>
                <dd class = "col-sm-6">
                    @Model._Customer.Firstname @Model._Customer.Lastname
                </dd>
                <dt class = "col-sm-6">
                    @Html.DisplayNameFor(model => model.Transaction.PurchaseDate)
                </dt>
                <dd class = "col-sm-6">
                    @Html.DisplayFor(model => model.Transaction.PurchaseDate)
                </dd>
            </dl>
            <div>
            <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model?.Transaction.Id">Bearbeiten</a> |
            <a asp-action="TransactionsOfCurrentUser">Zurück zur Übersicht</a>
            </div>
        </div>
        
    </div>
</div>

