<!-- Bearbeitungsview für eine Bestimmte Transaktion
Codeowner: Thomas Gerum -->


@model Projekt.ViewModels.TransactionViewModel
@using Projekt.Utilities
@{
    ViewData["Title"] = "Edit";
    string data = Model.JavaScriptDate;
}


<!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/Transaction/AddTransaction.css">
<script src="~/js/Transaction/TransactionInPast.js"></script>
<script src="~/js/Transaction/autocomplete.js"></script>

<h1>Transaktion bearbeiten</h1>


<body onload="dummy()">
    <div class="row">
        <div class="col-md-5">
            <div class="card mb-4 mb-xl-0">
                <div class="card-header">Transaktions ID: @Model.Transaction.Id</div>
                <div class="card-body" id ="cardbody">
                    <form asp-action="Edit" autocomplete="off">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Transaction.Id" />
                        <input type="hidden" asp-for="Transaction.Remainder" />
                        <input type="hidden" asp-for="Transaction.OwnerId" />
                        <input type="hidden" asp-for="Transaction.Tradeable" />
                        <input type="hidden" asp-for="Transaction.Deleted" />
                        <div class="row mb-3">
                            <select style ="height:2em;" asp-for="@Model.Transaction.Type" asp-items="Html.GetEnumSelectList<TransactionType>()" value=></select>
                        </div>
                        <div class="row mb-3">
                            <label asp-for="PurchaseDate" class="control-label"></label>
                            <input asp-for="Transaction.PurchaseDate" class="form-control" type="date" id="Dateauto"/>
                            <span asp-validation-for="Transaction.PurchaseDate" class="text-danger"></span>
                        </div>
                        <div class="row mb-3">
                            <label asp-for="Coin" class="control-label"></label>
                            @if(@Model.isBackup){
                                        <a style="color:red;">
                                            ACHTUNG: Alte Daten
                                        </a>
                                    }
                            <div class="autocomplete"> <input id="Coinauto" asp-for="Transaction.Coin" class="form-control" placeholder="Kryptowährung eingeben"/> </div>
                                
                            <span asp-validation-for="Transaction.Coin" class="text-danger"></span>
                        </div>
                                        <div class="row mb-3">
                            <label asp-for="Fee" class="control-label"></label>
                            <div class="input-group mb-3" id = "inputgroup">
                                        <input asp-for="Transaction.Fee" class="form-control" id="fee" onblur="myNumberDecimal(this)"/>
                                        <div class="input-group-append">
                                            <span class="input-group-text">€</span>
                                        </div>
                                    </div>
                            <span asp-validation-for="Transaction.Fee" class="text-danger"></span>
                        </div>
                        <div class="row mb-3">
                            <label asp-for="Rate" class="control-label"></label>
                            <div class="input-group mb-3" id = "inputgroup">
                                <input asp-for="Transaction.Rate" class="form-control" placeholder="Handelsrate eingeben" id="Rateauto"/>
                                <div class="input-group-append">
                                    <span class="input-group-text">€/Coin</span>
                                </div>
                                <div class="input-group-append">
                                    <!--onclick="calcValue(document.getElementById('Rateauto'), document.getElementById('Amountauto'), document.getElementById('Valueauto'))" -->
                                    <button class="btn btn-outline-secondary" type="button" onclick="autofillRate()">Autofill</button>
                                </div>
                            </div>
                            <span asp-validation-for="Transaction.Rate" class="text-danger"></span>
                        </div>
                        <div class="row mb-3">
                            <label asp-for="Amount" class="control-label"></label>
                            <input asp-for="Transaction.Amount" class="form-control" id="Amountauto"/>
                            <span asp-validation-for="Transaction.Amount" class="text-danger"></span>
                        </div>
                        <div class="row mb-3">
                            <label asp-for="Value" class="control-label"></label>
                            <div class="input-group mb-3" id="inputgroup">
                                <!---->
                                <input asp-for="Transaction.Value" class="form-control" id="Valueauto" onblur="myNumberDecimal(this)"/>
                                <div class="input-group-append">
                                    <span class="input-group-text">€</span>                  
                                </div>
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" onclick="calcValue(document.getElementById('Rateauto'), document.getElementById('Amountauto'), document.getElementById('Valueauto'))" type="button">Autofill</button>
                                </div>
                            </div>
                            <span asp-validation-for="Transaction.Value" class="text-danger"></span>
                        </div>

                        
                        <div class="row mb-3">
                            <input type="submit" value="Speichern" class="btn btn-primary" />
                        </div>
                        @if(@Model.isValid != true){
                            <a style="color:red;">
                                Sie Verkaufen Coins bevor sie gekauft wurden
                            </a>
                        }
                    </form>
                    <div>
                        <a asp-action="TransactionsOfCurrentUser">Zurück zur Übersicht</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--Popup falls die Transaktion im letzten Kalenderjahr liegt -->
    <div class="modal" tabindex="-1" id="LastYearPopup">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">ACHTUNG</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Diese Transaktion liegt im letzten Kalenderjahr. Bearbeitung wirkt sich auf Ergebnisse aus, die eventuell bereits Teil einer früheren Steuererklärung waren!</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("TransactionsOfCurrentUser", "Transaction")'">Zurück</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Okay</button>
            </div>
            </div>
        </div>
    </div>


    <script>
        function dummy() {
            LastCalendarYear("@data")
        }
        var dict = JSON.parse('@Html.Raw(Json.Serialize(@Model.Coindict))')
        var arr = JSON.parse('@Html.Raw(Json.Serialize(@Model.Coinlist))')
            autocomplete(document.getElementById("Coinauto"), arr);
    async function autofillRate() {
        await sleep(300);
        var input1 = document.getElementById('Coinauto');
        var input2 = document.getElementById('Rateauto');
        var date = document.getElementById('Dateauto');
        var year = date.value.substr(0, 4);
        var month = date.value.substr(5, 2);
        var day = date.value.substr(8, 2);
        var id = dict[input1.value];
        var price;
        let request = new XMLHttpRequest();
        request.open("GET", `https://api.coingecko.com/api/v3/coins/${id}/history?date=${day}-${month}-${year}&localization=false`);
        request.send();
        request.onload = () => {
            if(request.status === 200){
                price = JSON.parse(request.response);
                console.log(price);
                console.log(`${id}`);
                var repl = price["market_data"]["current_price"]["eur"];
                console.log(repl)
                input2.value = repl.toLocaleString("de-DE", {
                    minimumFractionDigits: 2,
                    maximumFractionDigits: 12
                }).replace('.', '');
            } else {
                console.log (`error ${request.status}`);
            }
        }
    }
    </script>

</body>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
