<!-- Zusammenfassung für alle Transaktionen des jeweiligen Users
Codeowner: Thomas Gerum -->


@model Projekt.ViewModels.TransactionViewModel

@{
    ViewData["Title"] = "Index";
}

<head>
    <link rel="stylesheet" href="~/css/Transaction/TransactionsOfCurrentUser.css">
    <script src="~/js/Transaction/sorting.js"></script>
</head>


<title>Transaktionen</title>


<body>
    <main>
        <div class="container">
            <h1 class="mt-5 mb-5 container_heading">Meine Transaktionen</h3>
                <div class="t_edit_buttons">
                    <a class="btn btn-primary" asp-controller="Transaction" asp-action="Create">Neue Transaktion</a>
                    <a></a>
                </div>
                <!-- Tabelle mit Transaktionen-->
                <table class="table table-striped table-hover text-end" id="transactionTable">
                    <thead class="table-light">
                        <tr>
                            <th scope="row" onclick="sortTableDouble(0)" style="cursor:pointer">
                                @Html.DisplayNameFor(model => model.Id)
                            </th>
                            <th onclick="sortTable(1)" style="cursor:pointer">
                                @Html.DisplayNameFor(model => model.Type)
                            </th>
                            <th onclick="sortTable(2)" style="cursor:pointer">
                                @Html.DisplayNameFor(model => model.Coin)
                            </th>
                            <th onclick="sortTableDouble(3)" style="cursor:pointer">
                                @Html.DisplayNameFor(model => model.Fee)
                            </th>
                            <th onclick="sortTableDouble(4)" style="cursor:pointer">
                                @Html.DisplayNameFor(model => model.Rate)
                            </th>
                            <th onclick="sortTableDouble(5)" style="cursor:pointer">
                                @Html.DisplayNameFor(model => model.Amount)
                            </th>
                            <th onclick="sortTableDouble(6)" style="cursor:pointer">
                                @Html.DisplayNameFor(model => model.Value)
                            </th>
                            <th onclick="sortTableDate(7)" style="cursor:pointer">
                                @Html.DisplayNameFor(model => model.PurchaseDate)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Transactionlist) {
                        <tr>
                            <td>
                                @item.Id
                            </td>
                            <td>
                                @item.Type
                            </td>
                            <td>
                                @item.Coin
                            </td>
                            <td>
                                @String.Format("{0:#,##0.00########}",item.Fee)€
                            </td>
                            <td>
                                @String.Format("{0:#,##0.00######}",item.Rate)€
                            </td>
                            <td>
                                @String.Format("{0:#,##0.##########}",item.Amount)
                            </td>
                            <td>
                                @String.Format("{0:#,##0.00######}",item.Value)€
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PurchaseDate)
                            </td>
                            <td class="drop">
                                <div class="btn-group" role="group">
                                    <button id="btnGroupDrop1" type="button" class="btn btn-primary"
                                        data-bs-toggle="dropdown" aria-expanded="false" style="border-radius: 0.25rem;">
                                        ⋮
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                        <li><a class="dropdown-item" asp-action="Edit" asp-route-id="@item.Id">Edit</a></li>
                                        <li><a class="dropdown-item" asp-action="Details" asp-route-id="@item.Id">Details</a></li>
                                        <li><a class="dropdown-item" asp-action="Delete" asp-route-id="@item.Id">Delete</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
        </div>
    </main>
</body>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}