ul {
    margin: 3px;
    display: flex;
    justify-content: center;
    background-color: green;
    color: white;
    size: 16px;
}
a {
    text-decoration: none;
}
ul > li {
    padding: 15px;
    list-style-type: none;
}
a:hover {
    background-color: aqua;
    color: beige;
}
h1 {
    size: 32px;
}
body {
    background-color: lightgreen;
}
tr:first-child {
    background-color: green;
}
tr:nth-child(even) {
    background-color: lightgreen;
}
tr {
    background-color: white;
}
th:hover {
    background-color: aqua;
    color: beige;
}
th, tr {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

#lol {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 100px;
}
#bd {
    align-items: center;
}
#wil {
    text-align: center;
}