﻿@{
    ViewData["Title"] = "Studium";
}
<h1>@ViewData["Title"]</h1>

<ul>
    Meine Programmiersprachen:
    <li>C</li>
    <li>C++</li>
    <li>Python (Sensorik)</li>
    <li>C# (ein bisschen)</li>
    <li>Java</li>
</ul>
<a href="https://www.uni-augsburg.de/">
    Meine Uni
</a>
