@model SoPro23team08.ViewModels.LessonDetailsViewModel

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>@Model.Title</title>
</head>
<body>
    <h1>@Model.Header</h1>
    <div>
        Id : @Model.Lesson.Id
    </div>
    <div>
        Title : @Model.Lesson.Title
    </div>
    <div>
        CardDeckLink : @Model.Lesson.CardDeckLink
    </div>
    <div>
        TimeEstimation : @Model.Lesson.TimeEstimation
    </div>
</body>
</html>