.navigation {
    width:100%;
    background-color: green;
    color: white;
    border-radius: 0%;
    display: block;
    margin: 0px;
    padding: 10px;
}

body {
    text-align: center;
    background-color: rgb(201, 249, 201);
    margin: 0;
}

.navigation a {
    text-align: center;
    font-size: x-large;
    text-decoration: none;
    color: white;
}

td:hover {
    background-color: lightcoral;    
}

tr:nth-child(odd){
    background-color: lightgray;
}

tr:nth-child(even){
    background-color: gray;
}

th {
    background-color: green;
}

.car-img{
    height: 200px;
}