﻿<!--Navbar für Consultant
Codeowner: Thomas Gerum und Vlad Kovganko-->

@model Projekt.ViewModels.BasicViewModel
@{
    // Falls das übergebene BasicViewModel null ist, müsst ihr die Daten für Navbar über ViewData Dict übergeben.
    string Firstname, Lastname, PathToProfileImg;
    if (@Model == null)
    {
        Firstname = ViewData["Firstname"].ToString();
        Lastname = ViewData["Lastname"].ToString();
        PathToProfileImg = ViewData["PathToProfileImg"].ToString();
    }
    else
    {
        Firstname = @Model._Consultant.Firstname;
        Lastname = @Model._Consultant.Lastname;
        PathToProfileImg = @Model._Consultant.Pathtoimage;
    }

    //Dieser Teil wird im Profil Controller gebraucht.
    if (ViewData["error-case-name"] != null && ViewData["error-case-surname"] != null
    && ViewData["error-case-pathToProfileImg"] != null)
    {
        Firstname = ViewData["error-case-name"].ToString();
        Lastname = ViewData["error-case-surname"].ToString();
        PathToProfileImg = ViewData["error-case-pathToProfileImg"].ToString();
    }


        /*string Firstname = @Model._Consultant.Firstname;
    string Lastname = @Model._Consultant.Lastname;
    //Dieser Teil wird im Profil Controller gebraucht
    if (ViewData["error-case-name"] != null && ViewData["error-case-surname"] != null)
    {
    Firstname = ViewData["error-case-name"].ToString();
    Lastname = ViewData["error-case-surname"].ToString();
    }*/

}

<!DOCTYPE html>

<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Client</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>



    <!-- Custom CSS-->
    <link rel="stylesheet" href="~/css/navbar_styles.css">
    <style>
        @@keyframes ring {
            0% {
                transform: rotate(0deg);
            }

            25% {
                transform: rotate(30deg);
            }

            50% {
                transform: rotate(0deg);
            }

            75% {
                transform: rotate(-30deg);
            }

            100% {
                transform: rotate(0deg);
            }
        }

        .animate {
            animation: ring 0.7s linear;
        }
    </style>
</head>

<body>
    <header class="header">
        <!--Navbar-->
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <a class="navbar-brand" href="/Consultant/OwnCustomers">
                    <img src="~/img/mazars_navbar_logo.jpg" alt="" width="66" height="66">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-controller="Consultant" asp-action="OwnCustomers">
                                Meine Kunden
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-controller="Consultant" asp-action="AllCustomers">
                                Alle Kunden
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-controller="Assigned" asp-action="AddCustomerRelation">
                                Zuweisungen verwalten
                            </a>
                        </li>
                    </ul>
                    <!--Codeowner Alexander Rioux -->
                    <ul class="navbar-nav nav_user ms-auto mb-2 mb-lg-0">
                        <div class="btn-group">
                            <button class="btn" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" style="padding: 0"
                                aria-expanded="false">
                                <li class="nav-item nav_bell">
                                    <a class="nav-link text-white" aria-current="page" href="#">
                                        <i class="fa fa-bell-o" aria-hidden="false" id="bell">
                                            <span class="badge rounded-pill badge-notification bg-danger"
                                                id="count">@Model.MessageListConsultant.Count()</span>
                                        </i>
                                        <script>
                                            const bell = document.getElementById("bell");

                                            const valueSpan = document.getElementById('count');
                                            let animationTimeout = null;

                                            function startAnimation() {
                                                // Entferne die CSS-Klasse 'animate' (falls vorhanden) und füge sie wieder hinzu, um die Animation auszulösen
                                                bell.classList.remove('animate');
                                                void bell.offsetWidth; // Trigger reflow um eine neue Animation zu starten
                                                bell.classList.add('animate');
                                            }

                                            function checkValueAndAnimate() {
                                                const value = parseInt(valueSpan.innerText);
                                                if (value >= 1) {
                                                    startAnimation();
                                                    // Setze den Timer zurück
                                                    clearTimeout(animationTimeout);
                                                    animationTimeout = setTimeout(() => {
                                                        bell.classList.remove('animate');
                                                    }, 2000);
                                                } else {
                                                    // Beende die Animation
                                                    bell.classList.remove('animate');
                                                }
                                            }

                                            setInterval(checkValueAndAnimate, 15000); //wackelt jede viertel minute
                                        </script>

                                        </script>
                                    </a>
                                </li>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton"
                                style="max-height: 150px; overflow-y: auto;">
                                @foreach (var message in Model.MessageListConsultant)
                                {
                                    <li>
                                        <a class="dropdown-item" href="#" id="@message.MessageId">
                                            <div class="d-flex justify-content-between">
                                                <span>@message.Message</span>
                                                <span>
                                                    <button class="btn" type="button"
                                                        onclick="removeMessage(@message.MessageId)">
                                                        <i class="bi bi-x-lg"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </a>
                                        <script>
                                            function removeMessage(messageId) {
                                                $.ajax({
                                                    url: '@Url.Action("RemoveMessage", "Consultant")',
                                                    type: 'POST',
                                                    dataType: 'json',
                                                    data: { messageId: messageId }
                                                });
                                                var element = document.getElementById(messageId);
                                                element.style.display = "none";
                                                var element2 = document.getElementById("count");
                                                var zahl = parseInt(element2.innerText);
                                                zahl = zahl - 1;
                                                element2.innerText = zahl;
                                            }
                                        </script>
                                    </li>
                                }
                            </ul>
                        </div>
                        <!-- Ende Codeowner Alexander Rioux -->

                        <span class="navbar-text text-white">
                            @Firstname @Lastname
                        </span>

                        <li class="nav-item dropdown">
                            <a class="" data-bs-toggle="dropdown" href="#">
                                <img class="navbar-profile-img" src="@Url.Content(@PathToProfileImg)" alt=""
                                    width="40px" , height="40px">
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" asp-controller="Consultant" asp-action="Profile">Mein
                                        Profil</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" asp-controller="Account" asp-action="Logout"
                                        id="logOutConsultant">Abmelden</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!--/Navbar-->
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script>
        function submitForm() {
            document.getElementById("myForm").submit();
        }
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>

