@using Projekt.Utilities;
@using Projekt.Controllers;
@using System.Text.Json;
@model Projekt.ViewModels.AllCustomersViewModel;
@{
    ViewData["Title"] = "My Customers";
}
<!--Übersicht über alle Kunden. Wird ausschließlich vom Steuerberater genutzt. -->
<!--CodeOwner: Alexander Rioux (Ursp. Desing Johannes Bulun für usability Tag)-->
<html lang="de">

<head>
    <link rel="stylesheet" href="~/css/Transaction/AddTransaction.css">
    <script src="~/js/Consultant/Consultant.js"></script>
    @{
    var simplifiedConsultantList = Model.ConsultantList.Select(consultant => new
    {
        Id = consultant.Id,
        Firstname = consultant.Firstname,
        Lastname = consultant.Lastname

    }).ToList();
    var simplifiedConToCus = Model.ConsultantWithCustomerLists.Select(consultantWithCustomer => new
    {
        Id = consultantWithCustomer.Consultant.Id,
        ListCustomerId = consultantWithCustomer.Customers.Select(customer => new {Id = customer.Id}).ToList()

    }).ToList();
}
    <script>
        setConsultantList(@Html.Raw(Json.Serialize(simplifiedConsultantList)));
        setConsultanttocustomer(@Html.Raw(Json.Serialize(simplifiedConToCus)));
    </script>
</head>

<body>
    <main>
    <H1>Alle Kunden</H1>
    <!-- Akkordion Header für nicht zugewiesene Kunden-->
    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <table>
                        <td scope="col">
                            <h4 width="30px" , height="30px"><i class="bi bi-person-circle"></i></h4>
                        </td>
                        <td></td>
                        <td>
                            <strong>Nicht zugewiesene Kunden </strong>
                        </td>
                    </table>
                </button>
            </h2>
            <!-- Akkordion Body mit allen nicht zugewiesenen Kunden-->
            <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne">
                <div class="accordion-body">
                    <!--Tabelle mit allen Informationen der nicht zugewiesenen Kunden -->
                    <table class="table table-striped">
                        <th scope="col">
                        </th>
                        <th scope="col">Vorname</th>
                        <th scope="col">Nachname</th>
                        <th scope="col">Adresse </th>
                        <th scope="col">E-Mail</th>
                        <th scope="col">Zuweisen an</th>
                        <th scope="col"></th>
                        <!--durchläuft alle nicht zugewiesenen Kunden -->
                        @foreach (Customer customer in Model.NoConsultant)
                        {
                            <tr>
                                <th scope="row">
                                    @if (customer.Pathtoimage != null)
                                    {
                                        <img class="navbar-profile-img" src="@Url.Content(customer.Pathtoimage)" alt="image"
                                            width="30px" , height="30px">
                                    }
                                    else
                                    {
                                        <h3><i class="bi bi-person-circle"></i></h3>
                                    }
                                </th>
                                <td scope="col">@customer.Firstname</td>
                                <td scope="col">@customer.Lastname</td>
                                <td scope="col">@customer.Address</td>
                                <td scope="col">@customer.Email</td>
                                <td>
                                    <!-- Ermöglicht die zuweisung zu einem neuen Steuerberater -->
                                    <form asp-action="CreateConsultant" asp-controller="Assigned" method="post"
                                        onsubmit="validateForm(event, @customer.Id.ToString().Insert(0, "ConsultantDataList"), @customer.Id)"
                                        autocomplete="off" id=@customer.Id.ToString().Insert(0, "ConsultantDataList").Insert(0, "form")>
                                        <div class="input-group mb-3">
                                            <input type="hidden" name="customerId" value="@customer.Id" />
                                            <input class="form-control" type="text" name="consultant" list="datalistOptions"
                                                id=@customer.Id.ToString().Insert(0, "ConsultantDataList")
                                                placeholder="Wähle einen Steuerberater"
                                                onchange="checkInput(this, @customer.Id.ToString().Insert(0, "ConsultantDataList"))">
                                            <datalist id="datalistOptions">
                                                @foreach (Consultant consultant in Model.ConsultantList)
                                                {
                                                    <option value="@consultant.Id @consultant.Firstname @consultant.Lastname" />
                                                }
                                            </datalist>
                                            <input class="btn btn-primary"
                                                style="border-radius: 0.25rem;background-color: #3B71CA; border-color: #3B71CA; color: white "
                                                type="submit" value="Senden">
                                        </div>
                                    </form>
                                </td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
        <!--Alle Informationen des derzeitigen Steuerberaters -->

        <div class="accordion-item">
            <h2 class="accordion-header" id="headingUser">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseUser" aria-expanded="true" aria-controls="collapseUser">
                    @if (Model._Consultant.Pathtoimage != null)
                    {
                        <img class="navbar-profile-img" src="@Url.Content(Model._Consultant.Pathtoimage)" alt="image"
                            width="30px" , height="30px">
                    }
                    else
                    {
                        <h3><i class="bi bi-person-circle"></i></h3>
                    }
                    <strong> @Model._Consultant.Firstname @Model._Consultant.Lastname</strong>
                </button>
            </h2>
            <!-- Akkordion Body mit allen nicht zugewiesenen Kunden-->
            <div id="collapseUser" class="accordion-collapse collapse" aria-labelledby="headingUser">
                <div class="accordion-body">
                    <!--Tabelle mit allen Informationen der zugewiesenen Kunden des Steuerberaters-->
                    <table class="table table-striped">


                        <th scope="col"></th>
                        <th scope="col">Vorname</th>
                        <th scope="col">Nachname</th>
                        <th scope="col">Adresse</th>
                        <th scope="col">E-Mail</th>
                        <th scope="col"> Einsichtnahme</th>
                        <th scope="col"> Erweiterte Einsichtnahme</th>
                        <th scope="col"> Details</th>
                        <th scope="col"></th>
                        <!--durchläuft die eigenen Kunden -->
                        @foreach (CustomerWithInsightstatus customer in @Model.MyCustomerList)
                        {
                            <tr>
                                <th scope="row">
                                    @if (customer.customer.Pathtoimage != null)
                                    {
                                        <img class="navbar-profile-img" src="@Url.Content(customer.customer.Pathtoimage)"
                                            alt="image" width="30px" , height="30px">
                                    }
                                    else
                                    {
                                        <h3><i class="bi bi-person-circle"></i></h3>
                                    }
                                </th>
                                <td scope="col">@customer.customer.Firstname</td>
                                <td scope="col">@customer.customer.Lastname</td>
                                <td scope="col">@customer.customer.Address</td>
                                <td scope="col">@customer.customer.Email</td>
                                <!--Je nach Anfrage Status werden hier die verschieden Möglichkeiten der Anfrage oder des Verwerfens zur Verfügung gestellt -->
                                <td scope="col">
                                    <div class="drop">
                                        <div class="btn-group" role="group" style="width:100%;">
                                            <button id="btnGroupDrop1" type="button" class="btn btn-primary"
                                                data-bs-toggle="dropdown" aria-expanded="false"
                                                style="border-radius: 0.25rem;background-color: #3B71CA; border-color: #3B71CA; color: white ">
                                                @customer.insightSimpleString
                                            </button>
                                            <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                                @if (@customer.insightSimple == InsightStatus.None)
                                                {
                                                    <li>
                                                        <form asp-controller="Assigned" asp-action="RequestInsight"
                                                            asp-route-consultantId="@Model._Consultant.Id"
                                                            asp-route-customerId="@customer.customer.Id" asp-route-insight="0"
                                                            asp-route-page="AllCustomers">
                                                            <button class="dropdown-item" type="submit">Anfragen</button>
                                                        </form>
                                                    </li>
                                                }
                                                else
                                                {
                                                    <li>
                                                        <form asp-controller="Assigned" asp-action="RemoveInsight"
                                                            asp-route-consultantId="@Model._Consultant.Id"
                                                            asp-route-customerId="@customer.customer.Id" asp-route-insight="0"
                                                            asp-route-page="AllCustomers">
                                                            <button class="dropdown-item" type="submit">Verwerfen</button>
                                                        </form>
                                                    </li>
                                                }
                                            </ul>
                                        </div>
                                    </div>
                                </td>
                                <td scope="col">
                                    <div class="drop">
                                        <div class="btn-group" role="group" style="width:100%;">
                                            <button id="btnGroupDrop1" type="button" class="btn btn-primary"
                                                data-bs-toggle="dropdown" aria-expanded="false"
                                                style="border-radius: 0.25rem;background-color: #3B71CA; border-color: #3B71CA; color: white ">
                                                @customer.insightExtendedString
                                            </button>
                                            <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                                @if (@customer.insightExtended ==
                                               InsightStatus.None)
                                                {
                                                    <li>
                                                        <form asp-controller="Assigned" asp-action="RequestInsight"
                                                            asp-route-consultantId="@Model._Consultant.Id"
                                                            asp-route-customerId="@customer.customer.Id" asp-route-insight="1"
                                                            asp-route-page="AllCustomers">
                                                            <button class="dropdown-item" type="submit">Anfragen</button>
                                                        </form>
                                                    </li>
                                                }
                                                else
                                                {
                                                    <li>
                                                        <form asp-controller="Assigned" asp-action="RemoveInsight"
                                                            asp-route-consultantId="@Model._Consultant.Id"
                                                            asp-route-customerId="@customer.customer.Id" asp-route-insight="1"
                                                            asp-route-page="AllCustomers">
                                                            <button class="dropdown-item" type="submit">Verwerfen</button>
                                                        </form>
                                                    </li>
                                                }
                                            </ul>
                                        </div>
                                    </div>
                                </td>
                                <!--Weiterleitung zu passenden Insight View. Es wird immer die bestmöglichste Einsicht genommen -->
                                <td scope="col">
                                    @if (@customer.insightExtended == InsightStatus.Insight)
                                    {
                                        <a class="btn btn-info" asp-controller="Consultant" asp-action="ExtendedInsight"
                                            asp-route-customerId="@customer.customer.Id"
                                            style="background-color: #3B71CA; border-color: #3B71CA; color: white ">Details</a>
                                    }
                                    else if (@customer.insightSimple == InsightStatus.Insight)
                                    {
                                        <a class="btn btn-info" asp-controller="Consultant" asp-action="Insight"
                                            asp-route-customerId="@customer.customer.Id"
                                            style="background-color: #3B71CA; border-color: #3B71CA; color: white ">Details</a>
                                    }
                                    else
                                    {
                                        <button class="btn btn-info" disabled
                                            style="background-color: #3B71CA; border-color: #3B71CA; color: white ">Details</button>
                                    }
                                </td>
                                <!--Möglichkeit die Zuweisung zu löschen -->
                                <td>
                                    <div class="drop">
                                        <div class="btn-group" role="group">
                                            <button id="btnGroupDrop1" type="button" class="btn btn-primary"
                                                data-bs-toggle="dropdown" aria-expanded="false"
                                                style="border-radius: 0.25rem;background-color: #3B71CA; border-color: #3B71CA; color: white ">
                                                ⋮
                                            </button>
                                            <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                                <form asp-controller="Assigned"
                                                    asp-action="DeleteConfirmedConsultant"
                                                    asp-route-page="AllCustomers"
                                                    asp-route-consultantId="@Model._Consultant.Id"
                                                    asp-route-customerId="@customer.customer.Id">
                                                    <button class="dropdown-item" type="submit">Löschen</button>
                                                </form>
                                            </ul>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }

                    </table>
                </div>
            </div>
        </div>
        <!-- Akkordion Items für alle Steuerberater -- Aufgeklapppt werden alle zugeordnete Kunden angezeigt-->
        <!-- Akkordion Header (Steuerberater)-->
        @foreach (ConsultantWithCustomerList consultantToCustomer in Model.ConsultantWithCustomerLists)
        {
            @if (consultantToCustomer.Consultant.Id == Model._Consultant.Id)
            {
            }
            else
            {
                <div class="accordion-item">
                    <h2 class="accordion-header" id="@consultantToCustomer.Consultant.Id">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#consultant-@consultantToCustomer.Consultant.Id" aria-expanded="true"
                            aria-controls="consultant-@consultantToCustomer.Consultant.Id">
                            @if (Model._Consultant.Pathtoimage != null)
                            {
                                <img class="navbar-profile-img" src="@Url.Content(Model._Consultant.Pathtoimage)" alt="image"
                                    width="30px" , height="30px">
                            }
                            else
                            {
                                <h3><i class="bi bi-person-circle"></i></h3>
                            }
                            <strong> @consultantToCustomer.Consultant.Firstname
                                @consultantToCustomer.Consultant.Lastname</strong>
                        </button>
                    </h2>
                    <!-- Akkordion Body (Zugeordnete Kunden)-->
                    <div id="consultant-@consultantToCustomer.Consultant.Id" class="accordion-collapse collapse"
                        aria-labelledby="@consultantToCustomer.Consultant.Id">
                        <div class="accordion-body">
                            <!--Tabelle mit allen Informationen der zugewiesenen Kunden des Steuerberaters-->
                            <table class="table table-striped">
                                <th scope="col"></th>
                                <th scope="col">Vorname</th>
                                <th scope="col">Nachname</th>
                                <th scope="col">Adresse</th>
                                <th scope="col">E-Mail</th>
                                <th scope="col">Zuweisen an</th>
                                <th scope="col"></th>
                                <!--Alle weiteren Steuerberater mit ihren Zuweisungen und Kundeninformationen -->
                                @foreach (Customer customer in consultantToCustomer.Customers)
                                {
                                    <tr>
                                        <th scope="row">
                                            @if (customer.Pathtoimage != null)
                                            {
                                                <img class="navbar-profile-img" src="@Url.Content(customer.Pathtoimage)" alt="image"
                                                    width="30px" , height="30px">
                                            }
                                            else
                                            {
                                                <h3><i class="bi bi-person-circle"></i></h3>
                                            }
                                        </th>
                                        <td scope="col">@customer.Firstname</td>
                                        <td scope="col">@customer.Lastname</td>
                                        <td scope="col">@customer.Address</td>
                                        <td scope="col">@customer.Email</td>
                                        <td>
                                            <!-- Ermöglicht die zuweisung zu einem neuen Steuerberater -->
                                            <form asp-action="CreateConsultant" asp-controller="Assigned" method="post"
                                                onsubmit="validateForm(event, @customer.Id.ToString().Insert(0, "Customer").Insert(0, consultantToCustomer.Consultant.Id.ToString()).Insert(0, "Consultant"), @customer.Id)"
                                                autocomplete="off" id=@customer.Id.ToString().Insert(0, "Customer").Insert(0, consultantToCustomer.Consultant.Id.ToString()).Insert(0, "form")>
                                                <div class="input-group mb-3">
                                                    <input type="hidden" name="customerId" value="@customer.Id" />
                                                    <input class="form-control" type="text" name="consultant" list="datalistOptions"
                                                        id=@customer.Id.ToString().Insert(0, "Customer").Insert(0,
                                            consultantToCustomer.Consultant.Id.ToString().Insert(0, "Consultant"))
                                                        placeholder="Wähle einen Steuerberater"
                                                        onchange="checkInput(this, @customer.Id.ToString().Insert(0, "Customer").Insert(0, consultantToCustomer.Consultant.Id.ToString()).Insert(0, "Consultant"))">
                                                    <datalist id="datalistOptions">
                                                        @foreach (Consultant consultant in Model.ConsultantList)
                                                        {
                                                            <option value="@consultant.Id @consultant.Firstname @consultant.Lastname" />
                                                        }
                                                    </datalist>
                                                    <input class="btn btn-primary"
                                                        style="border-radius: 0.25rem;background-color: #3B71CA; border-color: #3B71CA; color: white "
                                                        type="submit" value="Senden">
                                                </div>
                                            </form>
                                        </td>
                                    </tr>
                                }
                            </table>
                        </div>
                    </div>
                </div>

            }
        }
    </div>
    <div class="modal" tabindex="-1" id="WrongConsultantPopup">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">ACHTUNG</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Der ausgewählte Steuerberater scheint nicht zu existieren, oder die Relation besteht bereits.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Okay</button>
                </div>
            </div>
        </div>
    </div>

    </main>
</body>
