@model Projekt.ViewModels.TaxReportViewModel
<!-- codeowner Alexander (von Vlads Steuer kopiert und ganz leicht verändert)-->
@{
    Layout = "~/Views/Consultant/_ConsultantLayout.cshtml";
    double total_loss = 0;
    TaxReport taxReport = Model._taxReport;
    Customer customer = Model._Customer;
    if (Model._taxReport != null)
    {
        total_loss = taxReport.losses + taxReport.tax_relevant_losses;
    }


}

<head>
    <link rel="stylesheet" href="~/css/Customer/taxReport_styles.css" />

    <style>
        @@media print {
            #report-tabs {
                display: none;
            }

            #print-btn {
                display: none;
            }

            #exclude-from-print {
                display: none;
            }

            #hide-on-screen {
                display: block;
            }
        }

        .tax-header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        .hide-on-screen {
            display: none;
        }
    </style>
</head>




@{
    if (ViewData["Error-msg"] == null)
    {
        <div class="hide-on-screen" id="hide-on-screen">
            <div class="row gutters-sm">
                <div class="card">
                    <p>Name: @Model._Customer.Firstname @Model._Customer.Lastname</p>
                    <p>E-Mail: @Model._Customer.Email</p>
                    <p>Adresse: @Model._Customer.Address</p>
                </div>
            </div>
        </div>


        <div class="tax-header mt-5 mb-3" styles="display:flex">
            <h1>Steuerliche Auswertung für das Jahr @taxReport.year</h1>
            <div class="header-btn">
                <button type="button" class="btn btn-primary" id="print-btn">
                    <i class="fa fa-print" aria-hidden="true"></i>
                </button>
            </div>

        </div>


        <ul class="nav nav-tabs" id="report-tabs">
            <li class="nav-item" id="details_hideBtn">
                <a class="nav-link active" aria-current="page" id="details_hideBtn_link">Zusammenfassung</a>
            </li>
            @{
                Dictionary<string, List<Sell>> tablestest = taxReport.tables;
                if (tablestest.Keys.ToList().Any())
                {
                    <li class="nav-item" id="overview_hideBtn">
                        <a class="nav-link" aria-current="page" id="overview_hideBtn_link">Details</a>
                    </li>

                }
            }
        </ul>


        <div class="reportOverview" id="reportOverview">
            <div class="col">
                <!-- col-lg-12 start here -->
                <div class="panel panel-default plain" id="dash_0">
                    <!-- Start .panel -->
                    <div class="panel-body p30">

                        <div class="row mt-5">

                            <div class="invoice-items">
                                <div class="table-responsive" style="overflow: hidden; outline: none;" tabindex="0">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th class="per70 text-center">Gewinne aus Verkäufen</th>
                                                <th class="per25 text-center">Total</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>steuerfrei</td>
                                                <td class="text-center">@taxReport.getTaxIrrelevantProfit().ToString("0.00") €
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>steuerlich relevant</td>
                                                <td class="text-center">@taxReport.getTaxRelevantProfit().ToString("0.00") €
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><strong>Insgesamt</strong></td>
                                                <td class="text-center"><strong>
                                                        @taxReport.getOverallProfit().ToString("0.00") €
                                                    </strong>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td class="text-center"></td>
                                            </tr>
                                            <tr>
                                                <td>Gebühren</td>
                                                <td class="text-center">@taxReport.fees.ToString("0.00") €</td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td class="text-center"></td>
                                            </tr>
                                            <thead>
                                                <tr>
                                                    <th class="per70 text-center">Sonstige Leistungen</th>
                                                    <th class="per25 text-center">Total</th>
                                                </tr>
                                            </thead>

                                            <tr>
                                                <td>Mining</td>
                                                <td class="text-center">@taxReport.getMiningProfit().ToString("0.00") €</td>
                                            </tr>
                                        </tbody>

                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- col-lg-12 end here -->
                    </div>
                    <!-- End .row -->
                </div>
                <a class="btn btn-primary" asp-controller="Consultant" asp-action="ExtendedInsight"
                    asp-route-consultantId="@Model._Consultant.Id" asp-route-customerId="@Model._Customer.Id"
                    id="exclude-from-print">Zurück zur Einsicht</a>
            </div>
        </div>



        <div class="container mt-3" id="reportDetails" hidden>
            @{
                Dictionary<string, List<Sell>> tables = taxReport.tables;
                foreach (string coin in tables.Keys)
                {

                    List<Sell> table = tables[coin];

                    <div class="mt-5">
                        <h3>@coin</h3>
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th colspan="1" rowspan="2" class="text-center">Menge</th>
                                    <th class="text-center" colspan="4">Verkauf</th>
                                    <th class="text-center" colspan="4">Kauf</th>
                                    <th colspan="1" class="text-center" rowspan="2">steuerlich<br>relevant</th>

                                    <th colspan="1" class="text-center" rowspan="2">Gewinn</th>
                                </tr>
                                <tr>

                                    <th>ID</th>
                                    <th>Datum</th>
                                    <th>Preis</th>
                                    <th>Gebühr</th>

                                    <th>ID</th>
                                    <th>Datum</th>
                                    <th>Preis</th>
                                    <th>Gebühr</th>

                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    foreach (Sell sell in table)
                                    {
                                        List<BuyProfitPair> buys = sell.buyProfits;
                                        foreach (BuyProfitPair pair in buys)
                                        {
                                            <tr>
                                                <td>@pair.soldAmount.ToString("F8").TrimEnd('0').TrimEnd(',') </td>
                                                <td>@pair.sell_id</td>
                                                <td>@pair.sell_date.ToShortDateString()</td>
                                                <td>@pair.sell_price.ToString("F2") €</td>
                                                <td>@pair.sell_partial_fee.ToString("F2") €</td>
                                                <td>@pair.buy_id</td>
                                                <td>@pair.buy_date.ToShortDateString()</td>
                                                <td>@pair.buy_price.ToString("F2") €</td>
                                                <td>@pair.buy_partial_fee.ToString("F2") €</td>
                                                <td>
                                                    @{
                                                        string relevance = pair.taxRelevant == true ? "Ja" : "Nein";
                                                    }
                                                    @relevance
                                                </td>
                                                <td>@pair.profit.ToString("F2") €</td>
                                            </tr>
                                        }
                                    <tr></tr>
                                    }

                                }

                                <tr>
                                    <!-- Sum -->
                                    <td colspan="8"></td>
                                    <td colspan="2" class="text-center"><strong>steuerfrei:</strong></td>
                                    <td class="text-center">
                                        @{
                                            double profit = TaxReport.getProfit(table, false);
                                        }
                                        @profit.ToString("0.00") €
                                    </td>
                                </tr>
                                <tr>
                                    <!-- Sum -->
                                    <td colspan="8"></td>
                                    <td colspan="2" class="text-center"><strong>steuerlich relevant:</strong></td>
                                    <td class="text-center">
                                        @{
                                            double tax_relevant_profit = TaxReport.getProfit(table, true);
                                        }
                                        @tax_relevant_profit.ToString("0.00") €
                                    </td>
                                </tr>
                                <tr>
                                    <!-- Sum -->
                                    <td colspan="8"></td>
                                    <td colspan="2" class="text-center"><strong>Insgesamt:</strong></td>
                                    <td class="text-center">
                                        @{
                                            double overall_profit = tax_relevant_profit + profit;
                                        }
                                        @overall_profit.ToString("0.00") €
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                }



                if (taxReport.mining_coins.Count() != 0)
                {
                    <div class="mt-5">
                        <h3>Sonstige Leistungen/Mining</h3>
                        <table class="table table-bordered mt-3" style="width: 500px">
                            <thead>
                                <tr>
                                    <th class="text-left">Kryptowährung</th>
                                    <th class="text-left">Gesamtwert</th>
                                </tr>
                            </thead>
                            @{
                                Dictionary<string, double> mining_coins = taxReport.mining_coins;

                                foreach (var coin in mining_coins.Keys)
                                {
                                    <tr>
                                        <td>@coin</td>
                                        <td>@mining_coins[coin].ToString("0.00") €</td>
                                    </tr>
                                }
                            }
                        </table>
                    </div>
                }



            }
        </div>




        <script src="~/js/Customer/taxReportScript.js"></script>
        <script>
            document.getElementById('print-btn').onclick = function () {
                window.print();
            }</script>
    }
    else
    {
        <P>@ViewData["Error-msg"].ToString()</P>
    }
}






