@model Projekt.ViewModels.TaxReportViewModel
<!-- codeowner Alexander (von Vlads Steuer kopiert und ganz leicht verändert)-->
@{
    Layout = "~/Views/Consultant/_ConsultantLayout.cshtml";
    double total_loss = 0;
    TaxReport taxReport = Model._taxReport;
    Customer customer = Model._Customer;
    if (Model._taxReport != null)
    {
        total_loss = taxReport.losses + taxReport.tax_relevant_losses;
    }


}

<head>
    <link rel="stylesheet" href="~/css/Customer/taxReport_styles.css" />

    <style>
        @@media print {
            #report-tabs {
                display: none;
            }

            #print-btn {
                display: none;
            }

            #exclude-from-print {
                display: none;
            }

            #hide-on-screen {
                display: block;
            }
        }

        .tax-header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        .hide-on-screen {
            display: none;
        }
    </style>
</head>




@{
    if (ViewData["Error-msg"] == null)
    {
        <div class="hide-on-screen" id="hide-on-screen">
            <div class="row gutters-sm">
                <div class="card">
                    <p>Name: @Model._Customer.Firstname @Model._Customer.Lastname</p>
                    <p>E-Mail: @Model._Customer.Email</p>
                    <p>Adresse: @Model._Customer.Address</p>
                </div>
            </div>
        </div>


        <div class="tax-header mt-5 mb-3" styles="display:flex">
            <h1>Steuerliche Auswertung für das Jahr @taxReport.year</h1>
            <div class="header-btn">
                <button type="button" class="btn btn-primary" id="print-btn">
                    <i class="fa fa-print" aria-hidden="true"></i>
                </button>
            </div>

        </div>





        <div class="reportOverview" id="reportOverview">
            <div class="col">
                <!-- col-lg-12 start here -->
                <div class="panel panel-default plain" id="dash_0">
                    <!-- Start .panel -->
                    <div class="panel-body p30">

                        <div class="row mt-5">

                            <div class="invoice-items">
                                <div class="table-responsive" style="overflow: hidden; outline: none;" tabindex="0">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th class="per70 text-center">Gewinne aus Verkäufen</th>
                                                <th class="per25 text-center">Total</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>steuerfrei</td>
                                                <td class="text-center">@taxReport.getTaxIrrelevantProfit().ToString("0.00") €
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>steuerlich relevant</td>
                                                <td class="text-center">@taxReport.getTaxRelevantProfit().ToString("0.00") €
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><strong>Insgesamt</strong></td>
                                                <td class="text-center"><strong>
                                                        @taxReport.getOverallProfit().ToString("0.00") €
                                                    </strong>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td class="text-center"></td>
                                            </tr>
                                            <tr>
                                                <td>Gebühren</td>
                                                <td class="text-center">@taxReport.fees.ToString("0.00") €</td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td class="text-center"></td>
                                            </tr>
                                            <thead>
                                                <tr>
                                                    <th class="per70 text-center">Sonstige Leistungen</th>
                                                    <th class="per25 text-center">Total</th>
                                                </tr>
                                            </thead>

                                            <tr>
                                                <td>Mining</td>
                                                <td class="text-center">@taxReport.getMiningProfit().ToString("0.00") €</td>
                                            </tr>
                                        </tbody>

                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- col-lg-12 end here -->
                    </div>
                    <!-- End .row -->
                </div>
                <a class="btn btn-primary" asp-controller="Consultant" asp-action="Insight"
                    asp-route-consultantId="@Model._Consultant.Id" asp-route-customerId="@Model._Customer.Id"
                    id="exclude-from-print">Zurück zur Einsicht</a>
            </div>
        </div>
        <script src="~/js/Customer/taxReportScript.js"></script>
        <script>
            document.getElementById('print-btn').onclick = function () {
                window.print();
            }</script>
    }
    else
    {
        <P>@ViewData["Error-msg"].ToString()</P>
    }
}






