@model Projekt.ViewModels.InsightViewModel;
@using Projekt.Utilities;
@{
    ViewData["Title"] = "Erweiterte Einsichtnahme";
}
<!--Übersicht über steuerelevanten Details des Kunden. Wird ausschließlich vom Steuerberater genutzt. -->
<!--CodeOwner: Alexander Rioux-->

<head>
    <link rel="stylesheet" href="~/css/Customer/taxReportChooseYear_styles.css">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.2.0/css/datepicker.min.css"
        rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.2.0/js/bootstrap-datepicker.min.js"></script>
</head>
<style>
    .icons {
        object-fit: contain;
        width: 25px;
        height: 25px;
        border-radius: 50%;
    }
</style>

<head>
    <link rel="stylesheet" href="~/css/Customer/taxReport_styles.css">
</head>
<div class="container">
    <div class="main-body">
        <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <img src="@Url.Content(@Model._Customer.Pathtoimage)" alt="profile img" width="140px" ,
                                height="140px">
                            <div class="mt-3">
                                <h4>@Model._Customer.Firstname @Model._Customer.Lastname</h4>
                                <p class="text-secondary mb-1">@Model._Customer.Email</p>
                                <p class="text-muted font-size-sm">@Model._Customer.Address</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Von Vlad kopiert -->
            <div class="col-md-4 mb-3">
                <div class="container">
                    <div class="input-year border rounded">
                        <form method="post" asp-action="InsightTaxReport" asp-controller="Consultant"
                            class="row needs-validation" novalidate>
                            <input type="hidden" name="cusId" value="@Model._Customer.Id">
                            <div class="col-12">
                                <label for="validationCustom01" class="form-label">Wählen Sie das betreffende Jahr
                                    aus:</label>
                                <input type="text" class="form-control" name="year" id="datepicker" placeholder="Jahr"
                                    value="2023" />
                            </div>
                            <div class="col-12 mt-2 text-right">
                                <button class="btn btn-primary" type="submit">Absenden</button>
                            </div>
                        </form>
                    </div>


                    <script>
                        $(document).ready(function () {
                            $("#datepicker").datepicker({
                                format: "yyyy",
                                viewMode: "years",
                                minViewMode: "years",
                                autoclose: true
                            });
                        })


                    </script>
                </div>
            </div>

        </div>
    </div>
</div>