@using Projekt.Utilities;
@using Projekt.Controllers;
@model Projekt.ViewModels.OwnCustomersViewModel;
@{
    ViewData["Title"] = "Meine Kunden";
    int counter = 1;
}

<head>
    <link rel="stylesheet" href="~/css/Transaction/AddTransaction.css">
</head>

<!--Übersicht über alle Kunden des betrachteten Steuerberaters. Wird ausschließlich vom Steuerberater genutzt. -->
<!--CodeOwner: Alexander Rioux-->
<h1>Meine Kunden</h1>
<!--Tabelle mit allen Informationen der zugewiesenen Kunden des Steuerberaters-->
<table class="table table-striped">
    <th scope="col"></th>
    <th scope="col">Vorname</th>
    <th scope="col">Nachname</th>
    <th scope="col">Adresse</th>
    <th scope="col">E-Mail</th>
    <th scope="col"> Einsichtnahme</th>
    <th scope="col"> Erweiterte Einsichtnahme</th>
    <th scope="col"> Details</th>
    <th scope="col"></th>
    <!--durchläuft die eigenen Kunden -->
    @foreach (CustomerWithInsightstatus customer in Model.CustomerList)
    {
        <tr>
            <th scope="row">
                @if (customer.customer.Pathtoimage != null)
                {
                    <img class="navbar-profile-img" src="@Url.Content(customer.customer.Pathtoimage)" alt=@counter width="30px"
                        , height="30px">
                }
                else
                {
                    <h3><i class="bi bi-person-circle"></i></h3>
                }
            </th>
            <td scope="col">@customer.customer.Firstname</td>
            <td scope="col">@customer.customer.Lastname</td>
            <td scope="col">@customer.customer.Address</td>
            <td scope="col">@customer.customer.Email</td>
            <!--Je nach Anfrage Status werden hier die verschieden Möglichkeiten der Anfrage oder des Verwerfens zur Verfügung gestellt -->
            <td scope="col">
                <div class="drop">
                    <div class="btn-group" role="group" style="width:100%;">
                        <button id="btnGroupDrop1" type="button" class="btn btn-primary" data-bs-toggle="dropdown" name="@("EinfacheEinsichtnahme" + customer.customer.Id)"
                            aria-expanded="false"
                            style="border-radius: 0.25rem;background-color: #3B71CA; border-color: #3B71CA; color: white ">
                            @customer.insightSimpleString
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                            @if (@customer.insightSimple == InsightStatus.None)
                            {
                                <li>
                                    <form asp-controller="Assigned" asp-action="RequestInsight"
                                        asp-route-consultantId="@Model._Consultant.Id"
                                        asp-route-customerId="@customer.customer.Id" asp-route-insight="0"
                                        asp-route-page="OwnCustomers">
                                        <button class="dropdown-item" type="submit" name="@("EinfacheEinsichtnahmeAnfragen" + customer.customer.Id)">Anfragen</button>
                                    </form>
                                </li>
                            }
                            else
                            {
                                <li>
                                    <form asp-controller="Assigned" asp-action="RemoveInsight"
                                        asp-route-consultantId="@Model._Consultant.Id"
                                        asp-route-customerId="@customer.customer.Id" asp-route-insight="0"
                                        asp-route-page="OwnCustomers">
                                        <button class="dropdown-item" type="submit" name="@("EinfacheEinsichtnahme" + customer.customer.Id)">Verwerfen</button>
                                    </form>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </td>
            <td scope="col">
                <div class="drop">
                    <div class="btn-group" role="group" style="width:100%;" #>
                        <button id="btnGroupDrop1" type="button" class="btn btn-primary" data-bs-toggle="dropdown" name="@("ErweiterteEinsichtnahme" + customer.customer.Id)"
                            aria-expanded="false"
                            style="border-radius: 0.25rem;background-color: #3B71CA; border-color: #3B71CA; color: white ">
                            @customer.insightExtendedString
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1"> 
                            @if (@customer.insightExtended ==
                           InsightStatus.None)
                            {
                                <li>
                                    <form asp-controller="Assigned" asp-action="RequestInsight"
                                        asp-route-consultantId="@Model._Consultant.Id"
                                        asp-route-customerId="@customer.customer.Id" asp-route-insight="1"
                                        asp-route-page="OwnCustomers">
                                        <button class="dropdown-item" type="submit" name="@("ErweiterteEinsichtnahmeAnfragen" + customer.customer.Id)">Anfragen</button>
                                    </form>
                                </li>
                            }
                            else
                            {
                                <li>
                                    <form asp-controller="Assigned" asp-action="RemoveInsight"
                                        asp-route-consultantId="@Model._Consultant.Id"
                                        asp-route-customerId="@customer.customer.Id" asp-route-insight="1"
                                        asp-route-page="OwnCustomers">
                                        <button class="dropdown-item" type="submit" name="@("ErweiterteEinsichtnahme" + customer.customer.Id)">Verwerfen</button>
                                    </form>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </td>
            <!--Weiterleitung zu passenden Insight View. Es wird immer die bestmöglichste Einsicht genommen -->
            <td scope="col">
                @if (@customer.insightExtended == InsightStatus.Insight)
                {
                    <a class="btn btn-info" asp-controller="Consultant" asp-action="ExtendedInsight"
                        asp-route-customerId="@customer.customer.Id"
                        style="background-color: #3B71CA; border-color: #3B71CA; color: white ">Details</a>
                }
                else if (@customer.insightSimple == InsightStatus.Insight)
                {
                    <a class="btn btn-info" asp-controller="Consultant" asp-action="Insight"
                        asp-route-customerId="@customer.customer.Id"
                        style="background-color: #3B71CA; border-color: #3B71CA; color: white ">Details</a>
                }
                else
                {
                    <button class="btn btn-info" disabled
                        style="background-color: #3B71CA; border-color: #3B71CA; color: white ">Details</button>
                }
            </td>
            <!--Möglichkeit die Zuweisung zu löschen -->
            <td>
                <div class="drop">
                    <div class="btn-group" role="group">
                        <button id="btnGroupDrop1" type="button" class="btn btn-primary" data-bs-toggle="dropdown"
                            aria-expanded="false"
                            style="border-radius: 0.25rem;background-color: #3B71CA; border-color: #3B71CA; color: white ">
                            ⋮
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                            <form asp-controller="Assigned" asp-action="DeleteConfirmedConsultant"
                                asp-route-page="OwnCustomers" asp-route-consultantId="@Model._Consultant.Id"
                                asp-route-customerId="@customer.customer.Id">
                                <button class="dropdown-item" type="submit">Löschen</button>
                            </form>
                        </ul>
                    </div>
                </div>
            </td>
        </tr>
        counter++;
    }
</table>