﻿@model Projekt.ViewModels.BasicViewModel

@{
    Layout = "~/Views/Consultant/_ConsultantLayout.cshtml";
    string Firstname = @Model._Consultant.Firstname;
    string Lastname = @Model._Consultant.Lastname;
    string PathToProfileImg = @Model._Consultant.Pathtoimage;
    if (ViewData["error-case-name"] != null && ViewData["error-case-surname"] != null && ViewData["error-case-pathToProfileImg"] != null)
    {
        Firstname = ViewData["error-case-name"].ToString();
        Lastname = ViewData["error-case-surname"].ToString();
        PathToProfileImg = ViewData["error-case-pathToProfileImg"].ToString();
    }
}



<head>
    <!-- Custom CSS-->
    <link rel="stylesheet" href="~/css/Consultant/consultant_profile_styles.css">
</head>



<main>
    <div class="container-xl px-4 mt-0">
        <hr class="mt-0 mb-4">
        <div class="row">
            <div class="col-xl-4">
                <!-- Profile picture card-->
                <div class="card mb-4 mb-xl-0">
                    <div class="card-header">Profile Picture</div>
                    <div class="card-body text-center">
                        <!-- Profile picture image-->
                        <img class="img-account-profile rounded-circle mb-2"
                             src="@Url.Content(@PathToProfileImg)" alt="">


                        <div class="mt-2" id="img-name-block">
                            <h4>@Firstname @Lastname</h4>
                            <p class="text-secondary mb-1">Steuerberater</p>
                        </div>

                        <div id="img-edit-block">
                            <!-- Profile picture help block-->
                            <div class="small font-italic text-muted mb-2">JPG or PNG no larger than 5 MB</div>
                            <!-- Profile picture upload button-->
                            <form asp-action="UploadProfileImg" method="post" enctype="multipart/form-data">
                                <div class="mb-2 mt-2">
                                    <input class="form-control" type="file" name="imageFile">
                                    @if (ViewData.ContainsKey("ErrorMessage"))
                                    {
                                        <div class="text-danger">@ViewData["ErrorMessage"]</div>
                                    }
                                    <button type="submit" class="btn btn-primary mt-3">Hochladen</button>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-8">
                <!-- Account details card-->
                <div class="card mb-4">
                    <div class="card-header">Account Details</div>
                    <div class="card-body">
                        <form asp-controller="Consultant" asp-action="Profile" method="post">
                            <!-- Form Row-->
                            <div class="row gx-3 mb-3">
                                <div class="form-group" hidden>
                                    <label asp-for="@Model._Consultant.Id"></label>
                                    <input asp-for="@Model._Consultant.Id" type="text" class="form-control" placeholder="Id">
                                </div>
                                <!-- Form Group (first name)-->
                                <div class="col-md-6">
                                    <label asp-for="@Model._Consultant.Firstname" class="small mb-1" for="inputFirstName">Vorname</label>
                                    <input asp-for="@Model._Consultant.Firstname" class="form-control" id="inputFirstName" type="text"
                                           placeholder="Enter your first name" value="@Model._Consultant.Firstname" readonly>
                                    <span class="text-danger" asp-validation-for="@Model._Consultant.Firstname" id="error-msg"></span>


                                </div>
                                <!-- Form Group (last name)-->
                                <div class="col-md-6">
                                    <label asp-for="@Model._Consultant.Lastname" class="small mb-1" for="inputLastName">Nachname</label>
                                    <input asp-for="@Model._Consultant.Lastname" class="form-control" id="inputLastName" type="text"
                                           placeholder="Enter your last name" value="@Model._Consultant.Lastname" readonly>
                                    <span class="text-danger" asp-validation-for="@Model._Consultant.Lastname" id="error-msg"></span>
                                </div>
                            </div>
                            <!-- Form Row -->
                            <div class="row gx-3 mb-3">
                                <!-- Form Group -->
                                <div class="col-md-6 mb-3">
                                    <label asp-for="@Model._Consultant.Email" class="small mb-1" for="inputEmailAddress">Email</label>
                                    <input asp-for="@Model._Consultant.Email" class="form-control" id="inputEmailAddress" type="email"
                                           placeholder="Enter your email address" value="@Model._Consultant.Email" readonly>
                                    <span class="text-danger" asp-validation-for="@Model._Consultant.Email" id="error-msg"></span>
                                </div>
                                <div class="col-md-6">
                                    <label asp-for="@Model._Consultant.Address" class="small mb-1" for="inputAddress">Adresse</label>
                                    <input asp-for="@Model._Consultant.Address" class="form-control" id="inputAddress" type="text"
                                           placeholder="Enter your location" value="@Model._Consultant.Address" readonly>
                                    <span class="text-danger" asp-validation-for="@Model._Consultant.Address" id="error-msg"></span>
                                </div>

                            </div>


                            <!-- Save changes button-->
                            <button class="btn btn-success" type="submit" id="save-btn" style="display: none">
                                Save
                                changes
                            </button>
                            <!-- Edit button-->
                            <button class="btn btn-primary" type="button" id="edit-btn">Edit</button>
                            <!-- Cancel button-->
                            <a href="/Consultant/Profile" class="btn btn-danger" style="display: none" id="cancel-btn">
                                Abbrechen
                            </a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!--Custom JS-->
<script src="~/js/Customer/customer-profile.js"></script>