﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <ul>Programmiersprachen: C Java Python jeweils Grundketnisse</ul>
    <p>Learn about <a href="https://www.uni-augsburg.de/de/">Meine Universität</a>.</p>
</div>
