﻿<!--Navbar für Admin
Codeowner: Thomas Gerum und Vlad Kovganko-->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Projekt.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Shared/layout.css" asp-append-version="true" />
</head>

<body>
    <style>

    </style>
    <header>
        <nav id="header" class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container-fluid">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                    <img src="~/img/mazars_navbar_logo.jpg" alt="" width="66" height="66">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-controller="Account" asp-action="Index">Alle User</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-controller="Transaction" asp-action="Index">Alle
                                Transaktionen</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-controller="Assigned" asp-action="Index">Alle
                                Zuständigkeiten mit Einsicht</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav nav_user ms-auto mb-2 mb-lg-0">
                        <!--

                        <li class="nav-item nav_bell">
                            <a class="nav-link text-white" aria-current="page" href="#">
                                <i class="fa fa-bell-o" aria-hidden="false">
                                    <span class="badge rounded-pill badge-notification bg-danger">8</span>
                                </i>

                            </a>

                        </li>-->

                        <span class="navbar-text text-white">
                            <b>Admin</b>
                        </span>
                        <button id="logout" type="button" class="btn btn-light btn-lg"
                            onclick="location.href='@Url.Action("Logout", "Account")'">Logout</button>

                    </ul>
                </div>
            </div>
        </nav>
        <partial>
        </partial>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/shared/layout.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
