<!-- Alle Registrierten User View, sowie anlegen neuer User
Codeowner: Thomas Gerum -->

@model Projekt.ViewModels.AllAccountViewModel

@{
    ViewData["Title"] = "Userübersicht";
}

<h1>Registrierte Accounts</h1>


<p>
    <a asp-controller="Admin" asp-action="Create">Create New Admin</a>
</p>

<!-- Admin Tabelle für alle User-->

<h1>Admin</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                ID
            </th>
             <th>
                Username
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Adminlist) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td>
                    <a asp-controller="Admin" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-controller="Admin" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-controller="Admin" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>



<p>
    <a asp-controller="Consultant" asp-action="Create">Create New Steuerberater</a>
</p>



<h1>Steuerberater</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Vorname
            </th>
            <th>
                Nachname
            </th>
             <th>
                Username
            </th>
            <th>
                Adresse
            </th>
            <th>
                E-Mail
            </th>
            <th>
                Bildpath
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Consultantlist) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Firstname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Lastname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pathtoimage)
                </td>
                <td>
                    <a asp-controller="Consultant" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-controller="Consultant" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-controller="Consultant" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<h1>Kunden</h1>

<p>
    <a asp-controller="Customer" asp-action="Create">Create New Kunde</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Vorname
            </th>
            <th>
                Nachname
            </th>
             <th>
                Username
            </th>
            <th>
                Adresse
            </th>
            <th>
                E-Mail
            </th>
            <th>
                Bildpath
            </th>
        </tr>
    </thead>
    <tbody>


    @foreach (var item in Model.Customerlist) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Firstname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lastname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pathtoimage)
            </td>
            <td>
                <a asp-controller="Customer" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-controller="Customer" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-controller="Customer" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>
