.container{
    max-width:  1000px;
    height: auto;
    margin: 0 auto;
}

.container_heading{
    margin-top: 30px;
}


h1{
    font-weight: 400; 
}

.navbar{
    height: 60px;
}



.navbar-profile-img{
    border-radius: 50%;
}

img{
    max-width: 100%;
    height: auto;
}

.navbar-text{
    padding-right: 15px;
}

.nav_bell{
    margin-right: 20px;
}

.fa-bell-o{
    position: relative;
}

.badge{
    position: absolute;
    top: -10px;
    left: 10px;
}

.nav_user{
    margin-right: 20px;
}

.nav-item .dropdown-menu{
    right: 0;
    left: auto;
}