﻿@model List<Blatt4.Models.Lesson>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>

<h1> Aktuelle Lehrplanübersicht</h1>
<div class="row mt-3">
    @foreach (Lesson abc in Model)
    {
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h3 class="card-title">@abc.Id @abc.Title [@abc.TimeEstimation d]</h3>
                <a href="@abc.CardDeckLink" class="card-link">Externer Karten-Link</a>
                <br>
                <p>Geschätzte Kartendauer @abc.TimeEstimation Tage</p>
                <div class="mb-3">
                    <a class="btn add-btn btn-primary btn-lg" asp-action="EditLesson" asp-route-lessonID="@abc.Id">Edit</a>
                </div>
                <div class="mb-3">
                    <a class="btn add-btn btn-primary btn-lg" asp-action="RemoveLesson" asp-route-lessonID="@abc.Id">Remove</a>
                </div>
            </div>
        </div>
    }
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h3 class="card-title">Füge eine neue Lektion hinzu</h3>
            <div class="mb-3">
                <a class="btn add-btn btn-primary btn-lg" asp-action="CreateLesson">Neu</a>
            </div>

            <form asp-controller="Teachingplan" asp-action="ImportFile" asp-method="post" enctype="multipart/form-data">
                    <div class="mb-3">

                        <div class="mb-3">
                            <label for="Read" class="form-label">JSON Import</label>
                            <input name="Read" value="Upload" class="form-control-file" type="file" id="Read" accept=".json">
                        </div>

                        <div class="mb-3">
                            <button type="submit" class="add-btn btn-primary btn-lg"> Submit File</button>
                        </div>

                    </div>
            </form>
        </div>
    </div>
</div>

