body {
    background-color: #eee;
}



.form-container {
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
    max-height: 400px;
    padding-top: 170px;
}

.form-content {
    background-color: white;
}
