﻿<!--Navbar für Customer
Codeowner: Thomas Gerum und Vlad Kovganko-->

@model Projekt.ViewModels.BasicViewModel
@{
    // Falls das übergebene BasicViewModel null ist, müsst ihr die Daten für Navbar über ViewData Dict übergeben. 
    string Firstname, Lastname, PathToProfileImg;
    if(@Model == null)
    {
        Firstname = ViewData["Firstname"].ToString();
        Lastname = ViewData["Lastname"].ToString();
        PathToProfileImg = ViewData["PathToProfileImg"].ToString();
    }
    else
    {
        Firstname = @Model._Customer.Firstname;
        Lastname = @Model._Customer.Lastname;
        PathToProfileImg = @Model._Customer.Pathtoimage;
    }

    //Dieser Teil wird im Profil Controller gebraucht. 
    if (ViewData["error-case-name"] != null && ViewData["error-case-surname"] != null 
    && ViewData["error-case-pathToProfileImg"] != null)
    {
        Firstname = ViewData["error-case-name"].ToString();
        Lastname = ViewData["error-case-surname"].ToString();
        PathToProfileImg = ViewData["error-case-pathToProfileImg"].ToString();
    }
    
}


<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Client</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <!-- Custom CSS-->
    <link rel="stylesheet" href="~/css/navbar_styles.css">

</head>
<body>
    <header class="header">
        <!--Navbar-->
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <a class="navbar-brand" href="/Customer/AssetOverview">
                    <img src="~/img/mazars_navbar_logo.jpg" alt="" width="66" height="66">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-controller="Customer" asp-action="AssetOverview">Assets</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-controller="Transaction" asp-action="TransactionsOfCurrentUser">Transaktionen</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-controller="Customer" asp-action="TaxReport">Steuerliche Auswertung</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white position-relative" asp-controller="Customer" asp-action="AccessGrantedOverview">
                                @if (Model.MessageCount > 0)
                                {
                                    <span class="position-absolute start-100 translate-middle badge rounded-pill bg-danger" style="top:21%">@Model.MessageCount</span>
                                }
                                <span>Gewährte Einsichten</span>
                            </a>
                        </li>
                    </ul>
                    <ul class="navbar-nav nav_user ms-auto mb-2 mb-lg-0">
                        <span class="navbar-text text-white">
                            @Firstname @Lastname
                        </span>

                        <li class="nav-item dropdown">
                            <a class="" data-bs-toggle="dropdown" href="#">
                                <img class="navbar-profile-img"
                                     src="@Url.Content(@PathToProfileImg)" alt="profile img" width="40px" , height="40px">
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" asp-controller="Customer" asp-action="Profile">Mein Profil</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" asp-controller="Account" asp-action="Logout" id="logoutCustomer">Abmelden</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!--/Navbar-->
    </header>
    <div class="container-lg">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <script>
        function submitForm() {
            document.getElementById("myForm").submit();
        }
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>



















