﻿@model Projekt.ViewModels.AccessViewModel
<!--author: Christopher Glöckel -->

<h1>Ihre Berater:</h1>
@foreach (AssignedConsultant ac in Model.assigned)
{
	<div class="card p-1 m-2">
		<div class="d-flex flex-row">
			<div class="p-5 w-25">
				<h3>@ac.Firstname @ac.Lastname</h3>
				<img src=@Url.Content(ac.Pathtoimage) class="img-fluid" alt=@("Profilbild " + ac.Lastname)>
			</div>
			<div class="d-flex flex-row w-75">
				<div class="align-self-center p-5 w-50">
					<h4>Kontakt</h4>
					<p>@ac.Email</p>
					<p>@ac.Address</p>
				</div>
				<div class="ml-auto p-5">
					@if (ac.StatusSimpleInsight == Projekt.Utilities.InsightStatus.ApplicationInsight)
					{
						<div class="h-50">
							<h4>Einfache Einsicht</h4>
							<div>
							<h6>Status: Angefragt</h6>
							<div>
								<a name="@("EinfacheEinsichtnahmeBestaetigen" + ac.Id)" class="d-inline btn btn-primary" asp-controller="Customer" asp-action="AccessChange" asp-route-consultantID=@ac.Id asp-route-isExtended="false" asp-route-insightStatus=@Projekt.Utilities.InsightStatus.Insight>Bestätigen</a>
								<a name="@("EinfacheEinsichtnahmeAblehnen" + ac.Id)" class="d-inline btn btn-danger" asp-controller="Customer" asp-action="AccessChange" asp-route-consultantID=@ac.Id asp-route-isExtended="false" asp-route-insightStatus=@Projekt.Utilities.InsightStatus.None>Ablehnen</a>
							</div>
							</div>
						</div>
					}
					else if (ac.StatusSimpleInsight == Projekt.Utilities.InsightStatus.Insight)
					{
						<div class="h-50">
							<h4>Einfache Einsicht</h4>
							<h6>Status: Erlaubt</h6>
							<div>
								<a name="@("EinfacheEinsichtnahmeWiderrufen" + ac.Id)" class="btn btn-danger" asp-controller="Customer" asp-action="AccessChange" asp-route-consultantID=@ac.Id asp-route-isExtended="false" asp-route-insightStatus=@Projekt.Utilities.InsightStatus.None>Einsicht widerrufen</a>
							</div>
						</div>
					}
					else
					{
						<div class="h-50">
							<h4>Einfache Einsicht</h4>
							<h6>Status: Noch nicht beantragt</h6>
						</div>
					}
					@if (ac.StatusExtendedInsight == Projekt.Utilities.InsightStatus.ApplicationInsight)
					{
						<div>
							<h4>Erweiterte Einsicht</h4>
							<div>
							<h6>Status: Angefragt</h6>
							<div>
								<a name="@("ErweiterteEinsichtnahmeBestaetigen" + ac.Id)" class="d-inline btn btn-primary" asp-controller="Customer" asp-action="AccessChange" asp-route-consultantID=@ac.Id asp-route-isExtended="true" asp-route-insightStatus=@Projekt.Utilities.InsightStatus.Insight>Bestätigen</a>
								<a name="@("ErweiterteEinsichtnahmeAblehnen" + ac.Id)" class="d-inline btn btn-danger" asp-controller="Customer" asp-action="AccessChange" asp-route-consultantID=@ac.Id asp-route-isExtended="true" asp-route-insightStatus=@Projekt.Utilities.InsightStatus.None>Ablehnen</a>
							</div>
							</div>
						</div>
					}
					else if (ac.StatusExtendedInsight == Projekt.Utilities.InsightStatus.Insight)
					{
						<div>
							<h4>Erweiterte Einsicht</h4>
							<h6>Status: Erlaubt</h6>
							<div>
								<a name="@("ErweiterteEinsichtnahmeWiderrufen" + ac.Id)" class="btn btn-danger" asp-controller="Customer" asp-action="AccessChange" asp-route-consultantID=@ac.Id asp-route-isExtended="true" asp-route-insightStatus=@Projekt.Utilities.InsightStatus.None>Einsicht widerrufen</a>
							</div>
						</div>
					}
					else
					{
						<div>
							<h4>Erweiterte Einsicht</h4>
							<h6>Status: Noch nicht beantragt</h6>
						</div>
					}
				</div>
			</div>
		</div>
	</div>
}
