@model Projekt.ViewModels.AssetOverviewViewModel;
<!--author: Sebastian Klee -->

@{
    ViewData["Title"] = "AssetOverview";
    int i = 1;
    DateTime date = DateTime.Now;
    int daysUntilHoldingPeriod = 0;
    int transactionCounter = 1;
    int counter = 1;
    string target = "";
    string idTransaction = "";
    List<string> faultyCoins = new List<string>();
    string color = "";
    string secondaryColor = "#e7e7e7";
    double percent = 0;
    string perc = "";

}

@functions {
    public string formatNumber(double input)
    {
        if (input > 1)
        {
            return String.Format("{0:#,##0.00}", input);
        }
        else
        {
            return String.Format("{0:#,##0.00#######}", input);
        }
    }
}

<head>
    <script src="~/js/Customer/multiselect-dropdown.js" ></script>

    <link rel="stylesheet" href="~/css/Customer/asset_overview_styles.css">
    <script src="~/js/Customer/search.js"></script>

</head>

<body>
    <main>
        <div class="container mt-5">
            <h1 class="mt-5 mb-5 container_heading">Meine Assets</h3>
                @if (Model.AssetList.Count > 0 && Model.AssetList[0].Quantity == -1)
                {
                    <div id="top">
                        <div class="bg-white">
                            @foreach (var asset in Model.AssetList)
                            {
                                //falls coins verkauft, aber nicht gekauft wurden
                                faultyCoins.Add(asset.Name);
                            }
                            <b>Es fehlen Käufe für folgende Coins: @String.Join(", ", faultyCoins)</b>
                        </div>
                    </div>
                }
                else
                {
                    <div style="display: flex">
                        <section class="container">
                            <div class="h5" style="display : inline-flex">Gesamtwert: @String.Format("{0:#,##0.00}", Model.Total)€</div>
                            <div style="display : inline-flex; float: right">
                                <select class="filter" multiselect-select-all="true" multiple multiselect-search="true" multiselect-max-items="0" onchange="filterList();" id="fil"> 
                                    @foreach (var asset in Model.AssetList)
                                    {
                                        <option selected>@asset.Name</option>
                                    }
                                </select>
                                <div id="order" style="width: 39px; text-align: center; margin: auto;" onclick="changeSymbol()">&darr;</div>
                                <select id="sort" onchange="if (this.selectedIndex) sortSetup();">
                                    <option>Name</option>
                                    <option>Menge</option>
                                    <option>Gesamtwert</option>
                                    <option>Wert über Haltefrist</option>
                                </select>
                                <input type="text" id="myInput" onkeyup="filterList()" placeholder="Suche nach Coin" title="Geben Sie einen Namen ein">
                            </div>
                    </section>
                </div>
                <div id="top">
                    <div class="bg-white table-responsive" style="overflow-y: auto; max-height: 53vh;">
                        <table id="myTable" class="table">
                            <tbody>
                                @foreach (var asset in Model.AssetList)
                                {
                                    if (i % 2 == 0)
                                    {
                                        color = "#fffff";
                                    }
                                    else
                                    {
                                        color = "#f2f2f2";
                                    }
                                    //setup um Aufklappen zu realisieren
                                    target = "";
                                    counter = transactionCounter;
                                    transactionCounter += asset.Transactions.Count;
                                    while (counter < transactionCounter)
                                    {
                                        target += ("#r" + counter.ToString() + ",");
                                        counter++;
                                    }
                                    target = target[..^1];
                                    <tr class = "clickable" data-bs-toggle="collapse" data-bs-target=@target style="background-color: @color">
                                        <td class="icon_container">
                                            <img src=@asset.LinkToImage alt="" class="icons">
                                        </td>
                                        <td>
                                            <div class="d-flex flex-column">
                                                <div class="text-muted">Name</div>
                                                <div class="d-flex align-items-center">
                                                    <b class="pl-2">@asset.Name</b>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="d-flex flex-column">
                                                <div class="text-muted">Menge</div>
                                                <div><b>@String.Format("{0:#,##0.#######}", asset.Quantity)</b></div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="d-flex flex-column">
                                                <div class="text-muted">Momentaner Kurs</div>
                                                <div><b>@formatNumber(asset.Rate)€</b></div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="d-flex flex-column">
                                                    <div class="text-muted">Gesamtwert</div>
                                                <div><b>@formatNumber(asset.TotalValue)€</b></div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="d-flex flex-column">
                                                <div class="text-muted">Menge über Haltefrist</div>
                                                <div><b>@String.Format("{0:#,##0.#######}", asset.QuantityOverHoldingPeriod)</b></div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="d-flex flex-column">
                                                    <div class="text-muted">Wert über Haltefrist</div>
                                                <div><b>@formatNumber(asset.TotalValueOverHoldingPeriod)€</b></div>
                                            </div>
                                        </td>
                                    </tr>
                                    counter -= asset.Transactions.Count;
                                    counter--;
                                    @foreach (var transaktion in asset.Transactions)
                                    {
                                        //IDs für ausklappen Teil 2
                                        counter++;
                                        idTransaction = "r" + counter.ToString();
                                        date = transaktion.PurchaseDate.Date;
                                        daysUntilHoldingPeriod = (date.AddDays(366) - DateTime.Now.Date).Days;
                                        percent = (366 - daysUntilHoldingPeriod) * 100 / 360;
                                        perc = percent.ToString() + "%";
                                        <tr class="collapse" id=@idTransaction data-bs-parent=".clickable" style="background-color: @secondaryColor">
                                            <td></td>
                                            <td>
                                                <div class="d-flex flex-column">
                                                    <div class="text-muted">Kaufdatum</div>
                                                    <div><b>@transaktion.PurchaseDate.ToString("dd.MM.yyyy")</b></div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="d-flex flex-column">
                                                    <div class="text-muted">Menge</div>
                                                    <div><b>@String.Format("{0:#,##0.#######}", transaktion.Remainder)</b></div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="d-flex flex-column">
                                                    <div class="text-muted">Wert zum Kauf</div>
                                                    <div><b>@formatNumber(transaktion.Remainder * transaktion.Rate)€</b></div>
                                                </div>
                                            </td>
                                            @if (asset.Rate < transaktion.Rate)
                                            {
                                                <td>
                                                    <div class="d-flex flex-column">
                                                        <div class="text-muted">Momentaner Wert</div>
                                                        <div><b>@formatNumber(transaktion.Remainder * asset.Rate)€</b><b style="color:red"> -@(((transaktion.Rate - asset.Rate) * 100 / transaktion.Rate).ToString("0.00"))%</b></div>
                                                    </div>
                                                </td>
                                            }
                                            else
                                            {
                                                <td>
                                                    <div class="d-flex flex-column">
                                                        <div class="text-muted">Momentaner Wert</div>
                                                        <div><b>@formatNumber(transaktion.Remainder * asset.Rate)€</b><b style="color:green"> +@(((asset.Rate - transaktion.Rate) * 100 / transaktion.Rate).ToString("0.00"))%</b></div>
                                                    </div>
                                                </td>
                                            }
                                            @if (daysUntilHoldingPeriod > 0)
                                            {
                                                <td>
                                                    <div class="d-flex flex-column">
                                                        <div class="text-muted">Zeit bis Haltefrist</div>
                                                        <div><b>@daysUntilHoldingPeriod Tage</b></div>
                                                    </div>
                                                </td>
                                                <td style="vertical-align:bottom">
                                                    <div class="progress border border-success">
                                                        <div class="progress-bar" role="progressbar" style="width: @perc" aria-valuenow=@((366 - daysUntilHoldingPeriod).ToString()) aria-valuemin="0" aria-valuemax="366"></div>
                                                    </div>
                                                </td>
                                            }
                                            else
                                            {
                                                <td colspan="2" style="vertical-align:bottom">
                                                    <div class="d-flex flex-column">
                                                        <div><b>Diese Coins sind bereits über der Haltefrist</b></div>
                                                    </div>
                                                </td>
                                            }
                                        </tr>
                                    }
                                    i = i + 1;
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            }         
        </div>
    </main>
</body>