﻿@model Projekt.ViewModels.BasicViewModel

@{
    Layout = "~/Views/Customer/_CustomerLayout.cshtml";

}

<head>
    <link rel="stylesheet" href="~/css/Customer/taxReportChooseYear_styles.css">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.2.0/css/datepicker.min.css"
          rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.2.0/js/bootstrap-datepicker.min.js"></script>
</head>

<div class="mt-3 mb-5">
    <h1>Steuerliche Auswertung</h1>
    </div>

<div class="container">
    <div class="input-year border rounded">
        <form method="post" asp-action="TaxReport" asp-controller="Customer" class="row needs-validation" novalidate>
            <div class="col-12">
                <label for="validationCustom01" class="form-label">Wählen Sie das betreffende Jahr aus:</label>
                <input type="text" class="form-control" name="year" id="datepicker" placeholder="Jahr" value="2023" />
            </div>
            <div class="col-12 mt-2 text-right">
                <button class="btn btn-primary" type="submit">Absenden</button>
            </div>
        </form>
    </div>


    <script>
        $(document).ready(function () {
            $("#datepicker").datepicker({
                format: "yyyy",
                viewMode: "years",
                minViewMode: "years",
                autoclose: true
            });
        })


    </script>
</div>