﻿@{
    ViewData["Title"] = "Studium";
}
<h1>@ViewData["Title"]</h1>

<ul>
    <li>Python</li>
    <li>c</li>
    <li>Java</li>
</ul>
<div class="text">
  <b><a href="https://www.uni-augsburg.de/de/">Meine Uni</a></b>
</div>
