﻿@model Lesson


<style>
    .input-validation-error{

    }
</style>

<h1>Lektion hinzufügen</h1>

<form asp-action="CreateLesson" method="post" class="pl-3 pt-3" style="width: 500px">
    <div class="form-group">
        <label asp-for="Id"></label>
        <span class="text-danger" asp-validation-for="Id"></span>
        <input asp-for="Id" type="text" class="form-control" placeholder="Id">

    </div>
    <div class="form-group">
        <label asp-for="Title">Titel</label>
        <span class="text-danger" asp-validation-for="Title"></span>
        <input asp-for="Title" type="text" class="form-control" placeholder="Titel">

    </div>
    <div class="form-group">
        <label asp-for="TimeEstimation">Geschätzte Kartendauer</label>
        <span class="text-danger" asp-validation-for="TimeEstimation"></span>
        <input asp-for="TimeEstimation" type="text" class="form-control" placeholder="Geschätzte Kartendauer">

    </div>
    <div class="form-group pb-2">
        <label asp-for="CardDeckLink">Externer Karten-Link</label>
        <span class="text-danger" asp-validation-for="CardDeckLink"></span>
        <input asp-for="CardDeckLink" type="url" class="form-control" placeholder="Link">

    </div>
    <button type="submit" class="btn btn-primary">Hinzufügen</button>
</form>