@{
    ViewData["Title"] = "Lehrplan";
}


<h1>
    Aktuelle Lehrplanübersicht</h2>

 <div class="row mt-3">
    <div class="card ml-3 mb-3 text-center" style="width: 17rem">
        <div class="card-body">
          <h5 class="card-title p-2">
            Neue Lektion hinzufügen
          </h5>
          <a class="btn add-btn btn-primary btn-lg" asp-action="CreateLesson">+</a>
        </div>
      </div>
     @for(int i = 0; i < @Model.Count; i++)
     {
         var lesson = @Model[i];
         <div class="card ml-3 mb-3" style="width: 17rem">
             <div class="card-body">
                 <h5 class="card-title">@lesson.Id @lesson.Title</h5>
                 <div class="card-content">
                   <a href="@lesson.CardDeckLink" class="card-link">Externer Karten-Link</a>
                   <p class="card-text">Geschätzte Kartendauer:
                     <span class="badge badge-primary">@lesson.TimeEstimation Tage</span>
                   </p>
                    <div class="card-buttons">
                            <a class="btn btn-primary" asp-controller="Teachingplan" asp-action="EditLesson" asp-route-lessonId="@lesson.Id">Bearbeiten</a>
                        <a class="btn btn-danger" asp-controller="Teachingplan" asp-action="RemoveLesson" asp-route-lessonId="@lesson.Id">Löschen</a>
                    </div>
                 </div>
             </div>
         </div>
     }
 </div> 



 





