﻿@model Lesson


<style>
    .input-validation-error{

    }
</style>

<h1>Lektion hinzufügen</h1>

<form asp-action="CreateLesson" method="post" class="input_data_form pl-3 pt-3" style="width: 500px">
   <!--<div class="form-group">
        <label asp-for="Id"></label>
        <span class="text-danger" asp-validation-for="Id"></span>
        <input asp-for="Id" type="text" class="form-control" placeholder="Id">
     </div> -->
    <div class="form-group">
        <label asp-for="Title">Titel</label>
        <span class="text-danger" asp-validation-for="Title"></span>
        <input asp-for="Title" type="text" class="form-control" placeholder="Titel">

    </div>
    <div class="form-group">
        <label asp-for="estimate">Geschätzte Kartendauer</label>
        <span class="text-danger" asp-validation-for="estimate"></span>
        <input asp-for="estimate" type="text" class="form-control" placeholder="Geschätzte Kartendauer">

    </div>
    <div class="form-group pb-2">
        <label asp-for="url">Externer Karten-Link</label>
        <span class="text-danger" asp-validation-for="url"></span>
        <input asp-for="url" type="url" class="form-control" placeholder="Link">

    </div>
    <button type="submit" class="btn btn-primary">Hinzufügen</button>
</form>

<h3>oder mit Hilfe einer JSON-Datei:</h3>

 <form asp-action="UploadJson" class="pl-3" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="file">Wählen Sie eine JSON-Datei aus</label>
            <input name="jsonFile" type="file" class="form-control-file" id="file" name="file">
        </div>
        <button type="submit" class="btn btn-primary">Hochladen</button>
</form>
