﻿@model Lesson



<h1>Lektion editieren</h1>

<form asp-action="EditLesson" method="post" class="pl-3 pt-3" style="width: 500px">
    <div class="form-group" hidden>
        <label asp-for="Id"></label>
        <input asp-for="Id" type="text" class="form-control" placeholder="Id">
    </div>
    <div class="form-group">
        <label asp-for="Title">Titel</label>
        <span class="text-danger" asp-validation-for="Title"></span>
        <input asp-for="Title" type="text" class="form-control" placeholder="Titel">
    </div>
    <div class="form-group">
        <label asp-for="estimate">Geschätzte Kartendauer</label>
        <span class="text-danger" asp-validation-for="estimate"></span>
        <input asp-for="estimate" type="text" class="form-control" placeholder="Geschätzte Kartendauer">
    </div>
    <div class="form-group pb-2">
        <label asp-for="url">Externer Karten-Link</label>
        <span class="text-danger" asp-validation-for="url"></span>
        <input asp-for="url" type="text" class="form-control" placeholder="Link">
    </div>
    <button type="submit" class="btn btn-primary">Bestätigen</button>
</form>