  /*CodeOwnder: Thomas Gerum*/

* { box-sizing: border-box; }
body {
  background-color: #f2f6fc;
}

.autocomplete {
  padding-right: 0;
  padding-left: 0;
  position: relative;
}

.autocomplete-items {
  text-align: left!important;
  position: absolute;
  border: 1px solid #d4d4d4;
  max-height: 300px;
  overflow-y: auto;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  background-color: #e9e9e9;
}
.autocomplete-active {
  background-color: DodgerBlue !important;
  color: #ffffff;
}
#lowerinput{
  margin-top: 30px;
}

#inputgroup{
  --bs-gutter-x: 0;
  margin-bottom: 0!important;
}

#cardbody{
  padding: 2rem;
}

.rounded-circle {
  border-radius: 50% !important;
}

.card {
  box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);
}

.card .card-header {
    font-weight: 500;
}

.card-header:first-child {
  border-radius: 0.35rem 0.35rem 0 0;
}

.card-header {
  padding: 1rem 1.35rem;
  margin-bottom: 0;
  background-color: rgba(33, 40, 50, 0.03);
  border-bottom: 1px solid rgba(33, 40, 50, 0.125);
}