  /*CodeOwnder: Thomas Gerum*/

body {
    background-color: #f2f6fc;
    
  }

.btn {
    border-radius: 0.25rem;
}

.t_edit_buttons{
  margin-bottom: 20px;
}

.table-light{
  --bs-table-bg: #ffffff;
}

.table{
  --bs-table-bg: #ffffff;
  font-weight: 600;
  

}