@using SoPro23team08.Controllers
@{
    ViewData["Title"] = "AddJson";
}

<h1>Importiere Json Datei</h1>
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddJson" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <input type="file" accept=".json" id="file" name="jsonFile" />
            </div>
            <div class="form-group">
                <input type="submit" value="AddJson" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Overview">Back to List</a>
</div>