body {
  background-color: rgb(218, 240, 238);
  margin: 0;
  padding: 0;
}

table {
  display: flex;
  justify-content: center;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

th {
  background-color: rgb(0, 255, 17);
  height: 30px;
  width: 150px;
}

td {
  padding: 10px;
  text-align: left;
}

td:hover {background-color: rgb(255, 0, 179);}
tr:nth-child(odd) {background-color: #45644f4c;}
tr:nth-child(even) {background-color: #ffffff7b;}

h1 {
  font-weight: bold;
  font-size: 3em;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

.carImg {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #2fd363;
  display: flex;
  justify-content: center;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 20px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

li a:hover {
  background-color: #111111;
}