@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/*author: Sebastian Klee */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #f2f6fc;
}

.table div.text-muted {
  font-family: "Poppins", sans-serif;
  font-size: 0.95rem;
  font-size: 0.85rem;
  font-weight: 600;
  margin-bottom: 0.3rem;
  margin-top: 0.3rem;
}
.icons {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.font-weight-bold {
  font-size: 1.3rem;
}

.icon_container {
  vertical-align: middle;
  text-align: center;
}

/* utility classes */
.table tr td {
  border: none;
}
.red {
  color: #ff2f2f;
  font-weight: 700;
}
.green {
  color: #1cbb1c;
  font-weight: 700;
}
.labels,
.graph {
  position: relative;
}
.green-label {
  background-color: #00b300;
  color: #fff;
  font-weight: 600;
  font-size: 0.7rem;
}
.orange-label {
  background-color: #ffa500;
  color: #fff;
  font-weight: 600;
  font-size: 0.7rem;
}
.border-right {
  transform: scale(0.6);
  border-right: 1px solid black !important;
}
.box {
  transform: scale(1.5);
  background-color: #dbe2ff;
}
#top .table tbody tr {
  border-bottom: 1px solid #ddd;
}
#top .table tbody tr:last-child {
  border: none;
}
select {
  background-color: white;
  padding: 8px;
  border-radius: 5px;
  color: #444;
  border: 1px solid #444;
  outline-color: #00f;
}

/* media Queries */
@media (max-width: 379px) {
  .d-lg-flex .h3 {
    font-size: 1.4rem;
  }
}
@media (max-width: 352px) {
  #plat {
    margin-top: 10px;
  }
}
.table {
  margin-bottom: 0;
}
.filter {
  width: 175px;
}
.progress {
  background-color: #ffffff;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.optext {
  cursor: pointer;
}
#order {
  background-color: #ffffff;
  padding: 8px 0px 8px 0px;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid #444;
  height: 100%;
}
option {
  background-color: white;
}
.multiselect-dropdown {
  border-radius: 4px;
  border: 1px solid #444;
  margin-right: 10px;
}
#sort {
  cursor: pointer;
  margin-right: 10px;
}
#myInput {
  border-radius: 4px;
  border: 1px solid #444;
}
.collapsing {
  -webkit-transition: none;
  transition: none;
  display: none;
}
