.reportOverview {
    max-width: 800px;
    margin: auto;
}

a {
    cursor: pointer;
}

@@media print {
    #report-tabs {
        display: none;
    }

    #print-btn {
        display: none;
    }
}

.tax-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}