th {
    padding: 15px;
    background-color: green;
    color: white;
}

td {
    padding: 15px;
}

tr:nth-child(even) {

    background-color: white;
}

.title {
    font-size: 30px;
}

h1{
    text-align: left;
    margin-top: 18px;
    margin-bottom: 18px;
}
table{
    margin-left: auto;
    margin-right: auto;
}

tr:hover{
    background-color: #ffff99;
}
