body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color:rgb(183, 235, 183);
}

header{
    background-color: green;
   
}

.topnav {
    display: flex;
    justify-content: center;
    height: 70px;
    overflow: hidden;
}
.topnav a{
    float: left;
    display: block;
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 30px;
    padding: 14px 16px;
}


.topnav a:hover{
    font-size: 35px;
}




