﻿@{
    ViewData["Title"] = "Studium";
}
<h1>@ViewData["Title"]</h1>
<ul>
    <li>Python</li>
    <li>Java</li>
    <li>C</li>
    <li><a href="https://www.uni-augsburg.de/">Meine Uni</a> </li> 
</ul>