﻿@{
    ViewData["Title"] = "Studium"; // Privacy Policy
}
<h1>@ViewData["Title"]</h1>

<p><a href="https://www.uni-augsburg.de/">Meine Uni</a></p>
<p>Meine Programmierkenntnisse</p>
<uo>
    <li>Java</li>
    <li>C/C++</li>
    <li>Python</li>
    <li>HTML/CSS</li>
</uo>


