#spacingleftofname {
    margin-left: 30px;
    margin-right: 30px;
}
#spacingrightofname {
    margin-right: 30px;
}
#logout {
    margin-left: 20px;
  }

#header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}