<!--Login View
Codeowner: Thomas Gerum -->

@model Projekt.ViewModels.LoginViewModel


<head>
    <!-- Custom CSS-->
    <link rel="stylesheet" href="~/css/Account/login_styles.css">
</head>

<div class="form-container">
    <div class="form-content border p-4 rounded-1 shadow-3">
        <div class="form_heading pb-2">
            <h2>Log in</h2>
        </div>

        <form asp-action="Login">

            <!-- Email input -->
            <div class="form-outline mb-4">
                <input asp-for="Username" type="text" id="form2Example1" class="form-control" />
                <label asp-for="Username" class="form-label" for="form2Example1">Username</label>
            </div>

            <!-- Password input -->
            <div class="form-outline mb-4">
                <input asp-for="Password" type="password" name="password" id="form2Example2" class="form-control" />
                <label asp-for="Password" class="form-label" for="form2Example2">Password</label>
            </div>
            <div class="validation text-danger" asp-validation-summary="ModelOnly"></div>

            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-block mb-4">Sign in</button>

        </form>
    </div>
</div>

