@using SoPro23team08.Controllers
@using SoPro23team08.Models
@{
    ViewData["Title"] = "Overview";
}


<h1>Aktuelle Lehrplanübersicht</h1>
<div class="row">
    @for (int i = -1; i < @Model.Count; i++)
    {
        if (i == -1)
        {
        <div class="card ml-3 mb-3 text-center" style="width: 17rem">
        <div class="card-body">
          <h5 class="card-title p-2">
            Neue Lektion hinzufügen
          </h5>
          <a class="btn add-btn btn-primary btn-lg" asp-action="Neuanlegen">+</a>
        </div>
      </div>

            continue;
        }
        var lesson = @Model[i];
        <div class="card ml-3 mb-3" style="width: 17rem">
            <div class="card-body">
                <h3>@lesson.Id @lesson.Title</h3>
                <div class="pt-3">
                    <a href=@lesson.CardDeckLink>Externer Karten-Link</a>
                    <p>Geschätzte Kartendauer:
                        <span class="a">@lesson.TimeEstimation Tage</span>
                    </p>
                    <div class="card-buttons">
                        <a class="btn btn-primary" asp-controller="Teachingplan" asp-action="Bearbeiten"
                            asp-route-lessonId="@lesson.Id">Bearbeiten</a>
                        <a class="btn btn-danger" asp-controller="Teachingplan" asp-action="Loeschen"
                            asp-route-lessonId="@lesson.Id">Löschen</a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>