@{
    ViewData["Title"] = "Lehrplan";
}

<h1>Aktuelle Lehrplanübersicht</h2>

 <div class="row mt-3">
     @for(int i = 0; i < @Model.GetLessons().Count; i++)
     {
         var lesson = @Model.GetLessons()[i];
         <div class="card ml-3 mb-3" style="width: 17rem">
             <div class="card-body">
                 <h5 class="card-title">@lesson.Id @lesson.Title</h5>
                 <div class="card-content">
                   <a href="" class="card-link">Externer Karten-Link</a>
                   <p class="card-text">Geschätzte Kartendauer:
                     <span class="badge badge-primary">@lesson.TimeEstimation Tage</span>
                   </p>
                 </div>
             </div>
         </div>
     }
 </div> 





