@model SoPro23team08.Models.Lesson
@{
    ViewData["Title"] = "Lektion bearbeiten";
}

<h2>Lektion bearbeiten </h2>

    <form asp-action="Bearbeiten" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group" hidden>
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" value="@Model.Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" value="@Model.Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CardDeckLink" class="control-label"></label>
                <input asp-for="CardDeckLink" value="@Model.CardDeckLink" class="form-control" />
                <span asp-validation-for="CardDeckLink" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TimeEstimation" class="control-label"></label>
                <input asp-for="TimeEstimation" value="@Model.TimeEstimation" class="form-control" />
                <span asp-validation-for="TimeEstimation" class="text-danger"></span>
            </div>
        <button type="reset" class="btn btn-primary">Zurücksetzen</button>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
