@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 0.95rem;
}
body{
    background-color: #f3f3f3;
}

.table div.text-muted{
    font-size: 0.85rem;
    font-weight: 600;
    margin-bottom: 0.3rem;
    margin-top: 0.3rem;
}
.icons{
    object-fit: contain;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}


.font-weight-bold{
    font-size: 1.3rem;
    
}
#ethereum{
    transform: scale(2) rotateY(45deg) rotateX(180deg);
}
#ripple{
    transform: scale(2) rotateY(10deg) rotateX(20deg);
}
#eos{
    transform: scale(2) rotateY(50deg) rotateX(190deg);
}



/* utility classes */
.table tr td{
    border: none;
}
.red{
    color: #ff2f2f;
    font-weight: 700;
}
.green{
    color: #1cbb1c;
    font-weight: 700;
}
.labels,.graph{
    position: relative;
}
.green-label{
    background-color: #00b300;
    color: #fff;
    font-weight: 600;
    font-size: 0.7rem;
}
.orange-label{
    background-color: #ffa500;
    color: #fff;
    font-weight: 600;
    font-size: 0.7rem;
}
.border-right{
    transform: scale(0.6);
    border-right: 1px solid black!important;
}
.box{
    transform: scale(1.5);
    background-color: #dbe2ff;
}
#top .table tbody tr{
    border-bottom: 1px solid #ddd;
}
#top .table tbody tr:last-child{
    border: none;
}
select{
    background-color: inherit;
    padding: 8px;
    border-radius: 5px;
    color: #444;
    border: 1px solid #444;
    outline-color: #00f;
}



/* media Queries */
@media(max-width:379px){
    .d-lg-flex .h3{
        font-size: 1.4rem;
    }
}
@media(max-width:352px){
    #plat{
        margin-top: 10px;
    }
}