










.header .navbar{
    height: 60px;
}



.header .navbar-profile-img{
    border-radius: 50%;
}

.header img{
    max-width: 100%;
    height: auto;
}

.header .navbar-text{
    padding-right: 15px;
}

.header .nav_bell{
    margin-right: 20px;
}

.header .fa-bell-o{
    position: relative;
}

.header .badge{
    position: absolute;
    top: -10px;
    left: 10px;
}

.header .nav_user{
    margin-right: 20px;
}

.header .nav-item .dropdown-menu{
    right: 0;
    left: auto;
}