﻿@model SoPro23Team08.Models.TeachingplanViewModel
@{
    ViewData["Title"] = "Aktuelle Lehrplanübersicht";
}
<h1 class="display-2">@ViewData["Title"]</h1>
<div class="container">
    <div class="row row-cols-4 g-2">
        <div class="col">
            <div class="card h-100">
                <div class="card-body" style="text-align:center">
                    <div class="card-text">
                        <h4 class="card-title">
                            Neue Lektion Hinzufügen
                        </h4>
                        <a class="btn btn-primary" asp-action="Create">+</a>
                    </div>
                </div>
            </div>
        </div>
        @foreach (var item in Model.Lesson)
        {
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">@Html.DisplayFor(modelItem => item.Id) @Html.DisplayFor(modelItem => item.Title) [@Html.DisplayFor(modelItem => item.TimeEstimation)d]</h4>
                        <div class="card-text">
                            <a href=@item.CardDeckLink>Externer Karten-Link</a>
                            <p>Geschätzte Kartendauer: <span class="badge bg-primary">@Html.DisplayFor(modelItem => item.TimeEstimation) Tage</span></p>

                            <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">Bearbeiten</a>
                            <form asp-action="Delete" asp-route-id="@item.Id" style="display:inline">
                                <button class="btn btn-danger" type="submit">Löschen</button>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>