@model Project.Models.TeachingplanViewModel
@{
    ViewData["Title"] = "Aktuelle Lehrplanübersicht";
}
<h1 class="display-2">@ViewData["Title"]</h1>
<div class="container">
    <div class="row row-cols-4 g-2">
        @foreach (var item in Model.Lesson)
        {
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">@Html.DisplayFor(modelItem => item.Id) @Html.DisplayFor(modelItem => item.Title) [@Html.DisplayFor(modelItem => item.TimeEstimation)d]</h4>
                        <div class="card-text">
                            <a href=@item.CardDeckLink>Externer Karten-Link</a>
                            <p>Geschätzte Kartendauer: <span class="badge bg-primary">@Html.DisplayFor(modelItem => item.TimeEstimation) Tage</span></p>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>