﻿@model Blatt4.Models.Lesson

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>

<hr />

<div class="card">
    <div class="card-header">
        <h3> Edit a Lesson</h3>
    </div>

    <div class="card-body">
        <form asp-controller="Teachingplan" asp-action="EditLesson" asp-method="post">
            <div class="mb-3">
                <label class="form-label">ID</label>
                <input asp-for=Id type="number" class="form-control" readonly/>
                <span class="text-danger" asp-validation-for="Id"></span>
            </div>

            <div class="mb-3">
                <label class="form-label">Title</label>
                <input asp-for=Title type="text" class="form-control" />
                <span class="text-danger" asp-validation-for="Title"></span>

            </div>

            <div class="mb-3">
                <label class="form-label">CardDeckLink</label>
                <input asp-for=CardDeckLink type="text" class="form-control" />
                <span class="text-danger" asp-validation-for="CardDeckLink"></span>

            </div>

            <div class="mb-3">
                <label class="form-label">TimeEstimation</label>
                <input asp-for=TimeEstimation type="text" class="form-control" />
                <span class="text-danger" asp-validation-for="TimeEstimation"></span>

            </div>

            <div class="mb-3">
                <button type="submit" class="btn btn-primary">Create</button>
            </div>
        </form>
    </div>


</div>